{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Structures
{% endblock %}

{% block headline %}
    Structures
{% endblock %}

{% block action %}
    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li class="panel panel-primary">
            <div class="panel-heading">Pour adhérer, veuillez cliquer sur la structure de votre région, et vous enregistrer en 3 étapes : validation du formulaire, confirmation de l'adresse e-mail et paiement de la cotisation.</div>
        </li>
    {% elseif is_granted('ROLE_ADMIN') %}
        <li class="btn btn-primary">
            <a href="{{ path('core_structure_new') }}" title="Ajouter une nouvelle structure">
                <i class='fas fa-plus'></i> Ajouter
            </a>
        </li>
    {% endif %}
    </ul>
    <ul>
    {% for structure in structures %}
        <li class="panel panel-primary description structure_{{ structure.slug }}">
            <div class="panel-heading">
                {{ structure.area }} : {{ structure.name }}
            </div>
            <div class="panel-body row">
                <div class="float-right">
                {% if structure.email is not null %}
                    <div>
                        <a href="mailto:{{ structure.email }}" title="{{ structure.email }}"><i class='fas fa-envelope'></i></a>
                    </div>
                {% endif %}
                {% if structure.phone is not null %}
                    <div>
                        <a href="tel:{{ structure.phone }}" title="{{ structure.phone }}"><i class='fas fa-phone'></i></a>
                    </div>
                {% endif %}
                {% if structure.url is not null %}
                    <div>
                        <a href="{{ structure.url }}" title="{{ structure.url }}"><i class='fas fa-globe'></i></a>
                    </div>
                {% endif %}
                {% if structure.address['city'] is not null and structure.address['city'] != '-' %}
                    <div>
                        <a href="#" title="{{ structure.printableAddress }}"><i class='fas fa-home'></i></a>
                    </div>
                {% endif %}
                </div>
                {% if structure.logo is not null %}
                    <div class="">
                        <img src="{{ asset('uploads/' ~ structure.logo) }}" alt="{{ structure.logo }}" class="logo-description"/>
                    </div>
                {% endif %}
                {% if structure.fullname is not null %}
                    <div class="col-sm-12">{{ structure.fullname }}</div>
                {% endif %}
            </div>
            <ul class="panel-footer btn-group-vertical">
                <li class="btn btn-primary">
                        {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a href="{{ path('user_register_join', {'slug': structure.slug}) }}" title="Adhérer à la structure {{ structure.name }}">
                            <i class='fas fa-edit'></i> Adhérer
                        </a>
                    {% elseif is_granted('ROLE_MEMBER') %}
                        <a href="{{ path('user_register_join', {'slug': structure.slug, 'rejoin': true}) }}" title="Ré-dhérer à la structure {{ structure.name }}">
                            <i class='fas fa-edit'></i> Ré-adhérer
                        </a>
                    {% endif %}
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="btn btn-primary">
                        <a href="{{ path('user_register_index', {'slug': structure.slug}) }}" title="Afficher les adhérents de la structure '{{ structure.name }}'" class="index">
                            <i class='fas fa-group'></i> Adhérents
                        </a>
                    </li>
                    <li class="btn btn-primary">
                        <a href="{{ path('user_register_register', {'slug': structure.slug}) }}" title="Ajouter un adhérent à la structure '{{ structure.name }}'" class="">
                            <i class='fas fa-plus'></i> Ajouter un adhérent
                        </a>
                    </li>
                    <li class="btn btn-primary">
                        <a href="{{ path('parameter_admin_index', {'slug': structure.slug}) }}" title="Afficher les paramètres du site pour la structure '{{ structure.name }}'" class="index">
                            <i class='fas fa-cogs'></i> Paramètres
                        </a>
                    </li>
                {% endif %}
            </ul>
        </li>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="structures">
        <div class="map">Ce site a besoin du JavaScript pour fonctionner. Merci de l'activer ou rendez-vous sur <a href="{{ path('core_structure_index') }}">la page statique</a>.</div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/pigasscore/js/confirm.js') }}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" charset="utf-8"></script>
    <script src="{{ asset('bundles/pigasscore/js/jquery.mapael.min.js') }}" charset="utf-8"></script>
    <script src="{{ asset('bundles/pigasscore/js/france_regions.min.js') }}" charset="utf-8"></script>
    <script type="text/javascript">
        $(function(){
            $('.description').hide();

            $('.structures').mapael({
                map: {
                    name: "france_regions",
                    defaultArea: {
                        attrs: { fill: "#AAAAAA" },
                        attrsHover: { fill: "#EABB8E" },
                        href: "#",
                        eventHandlers: {
                            click: function (e, id, mapElem, textElem, elemOptions) {
                                $('.description').hide();
                                if (typeof elemOptions.myPanel != 'undefined') {
                                    $('.structure_'+elemOptions.myPanel).fadeIn('slow');
                                }
                            }
                        }
                    },
                    defaultPlot: {
                        type: "image",
                        witdh: 40,
                        height: 40,
                        attrs: { opacity: 1 },
                        attrsHover: { fill: "#EABB8E" },
                        href: "#",
                        eventHandlers: {
                            click: function (e, id, mapElem, textElem, elemOptions) {
                                $('.description').hide();
                                if (typeof elemOptions.myPanel != 'undefined') {
                                    $('.structure_'+elemOptions.myPanel).fadeIn('slow');
                                }
                            },
                            mouseover: function (e, id, mapElem, textElem, elemOptions) {
                                $("path[data-id='" + elemOptions.plotsOn + "']").attr("fill", "#EABB8E");
                            },
                            mouseout: function (e, id, mapElem, textElem, elemOptions) {
                                $("path[data-id='" + elemOptions.plotsOn + "']").attr("fill", "#72CAE9");
                            },
                        }
                    }
                },
                areas: {
                    "region-53": {
                        href: "#",
                        {% if areaMap['bretagne'] is defined %}
                        attrs: {
                            fill: "#72CAE9"
                        },
                        myPanel : "{{ areaMap['bretagne'].slug }}",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Bretagne : {{ areaMap['bretagne'].name }}</span>"}
                        {% else %}
                        tooltip: {content: "<span style=\"font-weight:bold;\">Bretagne</span>"}
                        {% endif %}
                    },
                    "region-52": {
                        href: "#",
                        {% if areaMap['paysdelaloire'] is defined %}
                        attrs: {
                            fill: "#72CAE9"
                        },
                        myPanel : "{{ areaMap['paysdelaloire'].slug }}",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Pays-de-la-Loire : {{ areaMap['paysdelaloire'].name }}</span>"}
                        {% else %}
                        tooltip: {content: "<span style=\"font-weight:bold;\">Pays-de-la-Loire</span>"}
                        {% endif %}
                    },
                    "region-25": {
                        href: "#",
                        {% if areaMap['bassenormandie'] is defined %}
                        attrs: {
                            fill: "#72CAE9"
                        },
                        myPanel : "{{ areaMap['bassenormandie'].slug }}",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Basse-Normandie : {{ areaMap['bassenormandie'].name }}</span>"}
                        {% else %}
                        tooltip: {content: "<span style=\"font-weight:bold;\">Basse-Normandie</span>"}
                        {% endif %}
                    },
                    "region-54": {
                        href: "#",
                        {% if areaMap['poitoucharentes'] is defined %}
                        attrs: {
                            fill: "#72CAE9"
                        },
                        myPanel : "{{ areaMap['poitoucharentes'].slug }}",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Poitou-Charentes : {{ areaMap['poitoucharentes'].name }}</span>"}
                        {% else %}
                        tooltip: {content: "<span style=\"font-weight:bold;\">Poitou-Charentes</span>"}
                        {% endif %}
                    },
                    "region-72": {
                        href: "#",
                        {% if areaMap['aquitaine'] is defined %}
                        attrs: {
                            fill: "#72CAE9"
                        },
                        myPanel : "{{ areaMap['aquitaine'].slug }}",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Aquitaine : {{ areaMap['aquitaine'].name }}</span>"}
                        {% else %}
                        tooltip: {content: "<span style=\"font-weight:bold;\">Aquitaine</span>"}
                        {% endif %}
                    },
                    "region-73": {
                        href: "#",
                        {% if areaMap['midipyrenees'] is defined %}
                        attrs: {
                            fill: "#72CAE9"
                        },
                        myPanel : "{{ areaMap['midipyrenees'].slug }}",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Midi-Pyrénées : {{ areaMap['midipyrenees'].name }}</span>"}
                        {% else %}
                        tooltip: {content: "<span style=\"font-weight:bold;\">Midi-Pyrénées</span>"}
                        {% endif %}
                    },
                    "region-91": {
                        href: "#",
                        {% if areaMap['languedocroussillon'] is defined %}
                        attrs: {
                            fill: "#72CAE9"
                        },
                        myPanel : "{{ areaMap['languedocroussillon'].slug }}",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Languedoc-Roussillon : {{ areaMap['languedocroussillon'].name }}</span>"}
                        {% else %}
                        tooltip: {content: "<span style=\"font-weight:bold;\">Languedoc-Roussillon</span>"}
                        {% endif %}
                    },
                    "region-24": {
                        href: "#",
                        {% if areaMap['centre'] is defined %}
                        attrs: {
                            fill: "#72CAE9"
                        },
                        myPanel : "{{ areaMap['centre'].slug }}",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Centre : {{ areaMap['centre'].name }}</span>"}
                        {% else %}
                        tooltip: {content: "<span style=\"font-weight:bold;\">Centre</span>"}
                        {% endif %}
                    },
                    "region-23": {
                        href: "#",
                        {% if areaMap['hautenormandie'] is defined %}
                        attrs: {
                            fill: "#72CAE9"
                        },
                        myPanel : "{{ areaMap['hautenormandie'].slug }}",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Haute-Normandie : {{ areaMap['hautenormandie'].name }}</span>"}
                        {% else %}
                        tooltip: {content: "<span style=\"font-weight:bold;\">Haute-Normandie</span>"}
                        {% endif %}
                    },
                    "region-22": {
                        href: "#",
                        {% if areaMap['picardie'] is defined  %}
                        attrs: {
                            fill: "#72CAE9"
                        },
                        myPanel : "{{ areaMap['picardie'].slug }}",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Picardie : {{ areaMap['picardie'].name }}</span>"}
                        {% else %}
                        tooltip: {content: "<span style=\"font-weight:bold;\">Picardie</span>"}
                        {% endif %}
                    },
                    "region-11": {
                        href: "#",
                        {% if areaMap['iledefrance'] is defined %}
                        attrs: {
                            fill: "#72CAE9"
                        },
                        myPanel : "{{ areaMap['iledefrance'].slug }}",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Île-de-France : {{ areaMap['iledefrance'].name }}</span>"}
                        {% else %}
                        tooltip: {content: "<span style=\"font-weight:bold;\">Île-de-France</span>"}
                        {% endif %}
                    },
                    "region-74": {
                        href: "#",
                        {% if areaMap['limousin'] is defined %}
                        attrs: {
                            fill: "#72CAE9"
                        },
                        myPanel : "{{ areaMap['limousin'].slug }}",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Limousin : {{ areaMap['limousin'].name }}</span>"}
                        {% else %}
                        tooltip: {content: "<span style=\"font-weight:bold;\">Limousin</span>"}
                        {% endif %}
                    },
                    "region-83": {
                        href: "#",
                        {% if areaMap['auvergne'] is defined %}
                        attrs: {
                            fill: "#72CAE9"
                        },
                        myPanel : "{{ areaMap['auvergne'].slug }}",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Auvergne : {{ areaMap['auvergne'].name }}</span>"}
                        {% else %}
                        tooltip: {content: "<span style=\"font-weight:bold;\">Auvergne</span>"}
                        {% endif %}
                    },
                    "region-82": {
                        href: "#",
                        {% if areaMap['rhonesalpes'] is defined %}
                        attrs: {
                            fill: "#72CAE9"
                        },
                        myPanel : "{{ areaMap['rhonesalpes'].slug }}",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Rhones-Alpes : {{ areaMap['rhonesalpes'].name }}</span>"}
                        {% else %}
                        tooltip: {content: "<span style=\"font-weight:bold;\">Rhones-Alpes</span>"}
                        {% endif %}
                    },
                    "region-93": {
                        href: "#",
                        {% if areaMap['paca'] is defined %}
                        attrs: {
                            fill: "#72CAE9"
                        },
                        myPanel : "{{ areaMap['paca'].slug }}",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Provence-Alpes-Côte-d'Azur : {{ areaMap['paca'].name }}</span>"}
                        {% else %}
                        tooltip: {content: "<span style=\"font-weight:bold;\">Provence-Alpes-Côte-d'Azur</span>"}
                        {% endif %}
                    },
                    "region-26": {
                        href: "#",
                        {% if areaMap['bourgogne'] is defined %}
                        attrs: {
                            fill: "#72CAE9"
                        },
                        myPanel : "{{ areaMap['bourgogne'].slug }}",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Bourgogne : {{ areaMap['bourgogne'].name }}</span>"}
                        {% else %}
                        tooltip: {content: "<span style=\"font-weight:bold;\">Bourgogne</span>"}
                        {% endif %}
                    },
                    "region-21": {
                        href: "#",
                        {% if areaMap['champagneardennes'] is defined %}
                        attrs: {
                            fill: "#72CAE9"
                        },
                        myPanel : "{{ areaMap['champagneardennes'].slug }}",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Champagne-Ardennes : {{ areaMap['champagneardennes'].name }}</span>"}
                        {% else %}
                        tooltip: {content: "<span style=\"font-weight:bold;\">Champagne-Ardennes</span>"}
                        {% endif %}
                    },
                    "region-31": {
                        href: "#",
                        {% if areaMap['nordpasdecalais'] is defined %}
                        attrs: {
                            fill: "#72CAE9"
                        },
                        myPanel : "{{ areaMap['nordpasdecalais'].slug }}",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Nord-Pas-de-Calais : {{ areaMap['nordpasdecalais'].name }}</span>"}
                        {% else %}
                        tooltip: {content: "<span style=\"font-weight:bold;\">Nord-Pas-de-Calais</span>"}
                        {% endif %}
                    },
                    "region-41": {
                        href: "#",
                        {% if areaMap['lorraine'] is defined %}
                        attrs: {
                            fill: "#72CAE9"
                        },
                        myPanel : "{{ areaMap['lorraine'].slug }}",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Lorraine : {{ areaMap['lorraine'].name }}</span>"}
                        {% else %}
                        tooltip: {content: "<span style=\"font-weight:bold;\">Lorraine</span>"}
                        {% endif %}
                    },
                    "region-42": {
                        href: "#",
                        {% if areaMap['alsace'] is defined %}
                        attrs: {
                            fill: "#72CAE9"
                        },
                        myPanel : "{{ areaMap['alsace'].slug }}",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Alsace : {{ areaMap['alsace'].name }}</span>"}
                        {% else %}
                        tooltip: {content: "<span style=\"font-weight:bold;\">Alsace</span>"}
                        {% endif %}
                    },
                    "region-43": {
                        href: "#",
                        {% if areaMap['franchecomte'] is defined %}
                        attrs: {
                            fill: "#72CAE9"
                        },
                        },
                        myPanel : "{{ areaMap['franchecomte'].slug }}",
                        tooltip: {content: "<span style=\"font-weight:bold;\">Franche-Comté : {{ areaMap['franchecomte'].name }}</span>"}
                        {% else %}
                        tooltip: {content: "<span style=\"font-weight:bold;\">Franche-Comté</span>"}
                        {% endif %}
                    },
                    "region-94": {
                        href: "#",
                        {% if areaMap['corse'] is defined %}
                        attrs: {
                            fill: "#72CAE9"
                        },
                        myPanel : "{{ areaMap['corse'].slug }}",
                        tooltip: {content: "<span style=\"font-weight: bold\">Corse : {{ areaMap['corse'].name }}</span>"}
                        {% else %}
                        tooltip: {content: "<span style=\"font-weight: bold\">Corse</span>"}
                        {% endif %}
                    }
                },
                plots: {
                    {% if areaMap['bretagne'] is defined %}
                        "plot-region-53": {
                            plotsOn: "region-53",
                            type: "image",
                            url: "{{ absolute_url(asset('uploads/' ~ areaMap['bretagne'].logo)) }}",
                            width: 40,
                            height: 40,
                            myPanel : "{{ areaMap['bretagne'].slug }}",
                            attrs: {
                                opacity: 1
                            },
                            attrHover: {
                                transform: "s1.5"
                            }
                        },
                    {% endif %}
                    {% if areaMap['paysdelaloire'] is defined %}
                        "plot-region-52": {
                            plotsOn: "region-52",
                            type: "image",
                            url: "{{ absolute_url(asset('uploads/' ~ areaMap['paysdelaloire'].logo)) }}",
                            width: 40,
                            height: 40,
                            myPanel : "{{ areaMap['paysdelaloire'].slug }}",
                            attrs: {
                                opacity: 1
                            },
                            attrHover: {
                                transform: "s1.5"
                            }
                        },
                    {% endif %}
                    {% if areaMap['bassenormandie'] is defined %}
                        "plot-region-25": {
                            plotsOn: "region-25",
                            type: "image",
                            url: "{{ absolute_url(asset('uploads/' ~ areaMap['bassenormandie'].logo)) }}",
                            width: 40,
                            height: 40,
                            myPanel : "{{ areaMap['bassenormandie'].slug }}",
                            attrs: {
                                opacity: 1
                            },
                            attrHover: {
                                transform: "s1.5"
                            }
                        },
                    {% endif %}
                    {% if areaMap['poitoucharentes'] is defined %}
                        "plot-region-54": {
                            plotsOn: "region-54",
                            type: "image",
                            url: "{{ absolute_url(asset('uploads/' ~ areaMap['poitoucharentes'].logo)) }}",
                            width: 40,
                            height: 40,
                            myPanel : "{{ areaMap['poitoucharentes'].slug }}",
                            attrs: {
                                opacity: 1
                            },
                            attrHover: {
                                transform: "s1.5"
                            }
                        },
                    {% endif %}
                    {% if areaMap['aquitaine'] is defined %}
                        "plot-region-72": {
                            plotsOn: "region-72",
                            type: "image",
                            url: "{{ absolute_url(asset('uploads/' ~ areaMap['aquitaine'].logo)) }}",
                            width: 40,
                            height: 40,
                            myPanel : "{{ areaMap['aquitaine'].slug }}",
                            attrs: {
                                opacity: 1
                            },
                            attrHover: {
                                transform: "s1.5"
                            }
                        },
                    {% endif %}
                    {% if areaMap['midipyrenees'] is defined %}
                        "plot-region-73": {
                            plotsOn: "region-73",
                            type: "image",
                            url: "{{ absolute_url(asset('uploads/' ~ areaMap['midipyrenees'].logo)) }}",
                            width: 40,
                            height: 40,
                            myPanel : "{{ areaMap['midipyrenees'].slug }}",
                            attrs: {
                                opacity: 1
                            },
                            attrHover: {
                                transform: "s1.5"
                            }
                        },
                    {% endif %}
                    {% if areaMap['languedocroussillon'] is defined %}
                        "plot-region-91": {
                            plotsOn: "region-91",
                            type: "image",
                            url: "{{ absolute_url(asset('uploads/' ~ areaMap['languedocroussillon'].logo)) }}",
                            width: 40,
                            height: 40,
                            myPanel : "{{ areaMap['languedocroussillon'].slug }}",
                            attrs: {
                                opacity: 1
                            },
                            attrHover: {
                                transform: "s1.5"
                            }
                        },
                    {% endif %}
                    {% if areaMap['centre'] is defined %}
                        "plot-region-24": {
                            plotsOn: "region-24",
                            type: "image",
                            url: "{{ absolute_url(asset('uploads/' ~ areaMap['centre'].logo)) }}",
                            width: 40,
                            height: 40,
                            myPanel : "{{ areaMap['centre'].slug }}",
                            attrs: {
                                opacity: 1
                            },
                            attrHover: {
                                transform: "s1.5"
                            }
                        },
                    {% endif %}
                    {% if areaMap['hautenormandie'] is defined %}
                        "plot-region-23": {
                            plotsOn: "region-23",
                            type: "image",
                            url: "{{ absolute_url(asset('uploads/' ~ areaMap['hautenormandie'].logo)) }}",
                            width: 40,
                            height: 40,
                            myPanel : "{{ areaMap['hautenormandie'].slug }}",
                            attrs: {
                                opacity: 1
                            },
                            attrHover: {
                                transform: "s1.5"
                            }
                        },
                    {% endif %}
                    {% if areaMap['picardie'] is defined %}
                        "plot-region-22": {
                            plotsOn: "region-22",
                            type: "image",
                            url: "{{ asset('uploads/' ~ areaMap['picardie'].logo) }}",
                            width: 40,
                            height: 40,
                            myPanel : "{{ areaMap['picardie'].slug }}",
                        },
                    {% endif %}
                    {% if areaMap['iledefrance'] is defined %}
                        "plot-region-11": {
                            plotsOn: "region-11",
                            type: "image",
                            url: "{{ absolute_url(asset('uploads/' ~ areaMap['iledefrance'].logo)) }}",
                            width: 40,
                            height: 40,
                            myPanel : "{{ areaMap['iledefrance'].slug }}",
                            attrs: {
                                opacity: 1
                            }
                        },
                    {% endif %}
                    {% if areaMap['limousin'] is defined %}
                        "plot-region-74": {
                            plotsOn: "region-74",
                            type: "image",
                            url: "{{ absolute_url(asset('uploads/' ~ areaMap['limousin'].logo)) }}",
                            width: 40,
                            height: 40,
                            myPanel : "{{ areaMap['limousin'].slug }}",
                            attrs: {
                                opacity: 1
                            }
                        },
                    {% endif %}
                    {% if areaMap['auvergne'] is defined %}
                        "plot-region-83": {
                            plotsOn: "region-83",
                            type: "image",
                            url: "{{ absolute_url(asset('uploads/' ~ areaMap['auvergne'].logo)) }}",
                            width: 40,
                            height: 40,
                            myPanel : "{{ areaMap['auvergne'].slug }}",
                            attrs: {
                                opacity: 1
                            }
                        },
                    {% endif %}
                    {% if areaMap['rhonesalpes'] is defined %}
                        "plot-region-82": {
                            plotsOn: "region-82",
                            type: "image",
                            url: "{{ absolute_url(asset('uploads/' ~ areaMap['rhonesalpes'].logo)) }}",
                            width: 40,
                            height: 40,
                            myPanel : "{{ areaMap['rhonesalpes'].slug }}",
                            attrs: {
                                opacity: 1
                            }
                        },
                    {% endif %}
                    {% if areaMap['paca'] is defined %}
                        "plot-region-93": {
                            plotsOn: "region-93",
                            type: "image",
                            url: "{{ absolute_url(asset('uploads/' ~ areaMap['paca'].logo)) }}",
                            width: 40,
                            height: 40,
                            myPanel : "{{ areaMap['paca'].slug }}",
                            attrs: {
                                opacity: 1
                            }
                        },
                    {% endif %}
                    {% if areaMap['bourgogne'] is defined %}
                        "plot-region-26": {
                            plotsOn: "region-26",
                            type: "image",
                            url: "{{ absolute_url(asset('uploads/' ~ areaMap['bourgogne'].logo)) }}",
                            width: 40,
                            height: 40,
                            myPanel : "{{ areaMap['bourgogne'].slug }}",
                            attrs: {
                                opacity: 1
                            }
                        },
                    {% endif %}
                    {% if areaMap['champagneardennes'] is defined %}
                        "plot-region-21": {
                            plotsOn: "region-21",
                            type: "image",
                            url: "{{ absolute_url(asset('uploads/' ~ areaMap['champagneardennes'].logo)) }}",
                            width: 40,
                            height: 40,
                            myPanel : "{{ areaMap['champagneardennes'].slug }}",
                            attrs: {
                                opacity: 1
                            }
                        },
                    {% endif %}
                    {% if areaMap['nordpasdecalais'] is defined %}
                        "plot-region-31": {
                            plotsOn: "region-31",
                            type: "image",
                            url: "{{ absolute_url(asset('uploads/' ~ areaMap['nordpasdecalais'].logo)) }}",
                            width: 40,
                            height: 40,
                            myPanel : "{{ areaMap['nordpasdecalais'].slug }}",
                            attrs: {
                                opacity: 1
                            }
                        },
                    {% endif %}
                    {% if areaMap['lorraine'] is defined %}
                        "plot-region-41": {
                            plotsOn: "region-41",
                            type: "image",
                            url: "{{ absolute_url(asset('uploads/' ~ areaMap['lorraine'].logo)) }}",
                            width: 40,
                            height: 40,
                            myPanel : "{{ areaMap['lorraine'].slug }}",
                            attrs: {
                                opacity: 1
                            }
                        },
                    {% endif %}
                    {% if areaMap['alsace'] is defined %}
                        "plot-region-42": {
                            plotsOn: "region-42",
                            type: "image",
                            url: "{{ absolute_url(asset('uploads/' ~ areaMap['alsace'].logo)) }}",
                            width: 40,
                            height: 40,
                            myPanel : "{{ areaMap['alsace'].slug }}",
                            attrs: {
                                opacity: 1
                            }
                        },
                    {% endif %}
                    {% if areaMap['franchecomte'] is defined %}
                        "plot-region-43": {
                            plotsOn: "region-43",
                            type: "image",
                            url: "{{ absolute_url(asset('uploads/' ~ areaMap['franchecomte'].logo)) }}",
                            width: 40,
                            height: 40,
                            myPanel : "{{ areaMap['franchecomte'].slug }}",
                            attrs: {
                                opacity: 1
                            }
                        },
                    {% endif %}
                    {% if areaMap['corse'] is defined %}
                        "plot-region-94": {
                            plotsOn: "region-94",
                            type: "image",
                            url: "{{ absolute_url(asset('uploads/' ~ areaMap['corse'].logo)) }}",
                            width: 40,
                            height: 40,
                            myPanel : "{{ areaMap['corse'].slug }}",
                            attrs: {
                                opacity: 1
                            }
                        },
                    {% endif %}
                }
            });
        });
    </script>
{% endblock %}
