{% extends "bundles/FOSUserBundle/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ parent() }} - Connexion{% endblock %}
{% block headline %}S'identifier{% endblock %}

{% block action %}
    <li class="btn btn-primary">
        <a href="{{ path('fos_user_resetting_request') }}" title="Réinitialiser le mot de passe">
            Mot de passe oublié
        </a>
    </li>
{% endblock %}

{% block fos_user_content %}
    {% if error %}
        <div class="alert alert-danger fade in">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path("fos_user_security_check") }}" method="post" class="form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <fieldset>
            <div class="form-group">
                <label for="username" class="control-label required">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />
            </div>
            <div class="form-group">
                <label for="password" class="control-label required">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" class="form-control"/>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label for="remember_me" class="control-label optional">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                        {{ 'security.login.remember_me'|trans }}
                     </label>
                </div>
            </div>
            <div>
                <button type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary float-right">{{ 'security.login.submit'|trans }}</button>
            </div>
        </fieldset>
    </form>
    </div>
{% endblock %}
