{% extends 'PigassCoreBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ structure.name }} - Tarifs
{% endblock %}

{% block headline %}
    {{ structure.name }} - Tarifs
{% endblock %}

{% block action %}
        <li class="btn btn-primary">
            <a href="{{ path('core_fee_new', {'slug': structure.slug}) }}" title="Ajouter une nouvelle tarification">
                {{ icon('plus') }} Ajouter
            </a>
        </li>
    </ul>
    {{ mopa_bootstrap_menu('parameter') }}
{% endblock %}

{% block content %}
    <ul class="entities fees list-group panel panel-default">
        {% for fee in fees %}
            <li class="entity fee list-group-item row">
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_STRUCTURE') %}
                    <span class="btn-group pull-right">
                        <button class="btn btn-primary dropdown-toogle" data-toggle="dropdown">Actions <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li class="action">
                                <a href="{{ path('core_fee_edit', {'slug': structure.slug, 'id': fee.id}) }}" title="Modifier la tarification '{{ fee }}'" class="edit">
                                    {{ icon('pencil') }} Modifier
                                </a>
                            </li>
                            <li class="action">
                                <a href="{{ path('core_fee_delete', {'slug': structure.slug, 'id': fee.id}) }}" title="Supprimer la tarification '{{ fee }}'" class="confirm delete" confirm="Attention, vous allez supprimer la tarification et toutes les informations s'y rapportant ! Voulez-vous continuer ?">
                                    {{ icon('trash') }} Supprimer
                                </a>
                            </li>
                        </ul>
                    </span>
                {% endif %}

                <div class="">
                    <span class="title">{{ fee.title }}</span>
                    ({{ fee.amount(1) }})
                </div>
                <div class="">{{ fee.help }}</div>
            </li>
        {% else %}
            <li class="noentity fee list-group-item">
                Aucune tarification enregistrée. <a href="{{ path('core_fee_new', {'slug': structure.slug}) }}" title="Ajouter une tarification">Ajouter une tarification</a>.
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/pigasscore/js/confirm.js') }}" type="text/javascript"></script>
{% endblock %}
