{% extends 'PigassCoreBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Structures
{% endblock %}

{% block headline %}
    Structures
{% endblock %}

{% block action %}
    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li class="panel panel-primary">
            <div class="panel-heading">Pour adhérer, veuillez cliquer sur la structure de votre région, et vous enregistrer en 3 étapes : validation du formulaire, confirmation de l'adresse e-mail et paiement de la cotisation.</div>
        </li>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <li class="btn btn-primary">
            <a href="{{ path('core_structure_new') }}" title="Ajouter une nouvelle structure">
                {{ icon('plus') }} Ajouter
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <ul class="entities structures list-group">
        {% for structure in structures %}
            <li class="entity structure list-group-item row">
                {% if is_granted('ROLE_ADMIN') %}
                    <span class="pull-right">
                        <button class="btn btn-primary dropdown-toogle" data-toggle="dropdown">{{ icon('bars') }} <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li class="action">
                                <a href="{{ path('user_register_index', {'slug': structure.slug}) }}" title="Afficher les adhérents de la structure '{{ structure.name }}'" class="index">
                                    {{ icon('group') }} Adhérents
                                </a>
                            </li>
                            <li class="action">
                                <a href="{{ path('user_register_membership_new', {'slug': structure.slug}) }}" title="Ajouter un adhérent à la structure '{{ structure.name }}'" class="">
                                    {{ icon('user-plus') }} Ajouter
                                </a>
                            </li>
                            <li class="action">
                                <a href="{{ path('parameter_admin_index', {'slug': structure.slug}) }}" title="Afficher les paramètres du site pour la structure '{{ structure.name }}'" class="index">
                                    {{ icon('cogs') }} Paramètres
                                </a>
                            </li>
                        </ul>
                    </span>
                {% endif %}

                <div class="col-sm-1">
                    {% if structure.logo is not null %}
                        <img src="{{ asset('uploads/' ~ structure.logo) }}" alt="{{ structure.logo }}" class="logo"/>
                    {% endif %}
                </div>
                <div class="col-sm-10">
                    <div class="col-sm-12 title">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('user_register_join', {'slug': structure.slug}) }}" title="Adhérer à la structure {{ structure.name }}">
                                {% if structure.area is not null %}{{ structure.area }} :{% endif %}
                                {{ structure.name }}
                                ({{ structure.slug }})
                            </a>
                        {% elseif not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <a href="{{ path('user_register_register', {'slug': structure.slug}) }}" title="Adhérer à la structure {{ structure.name }}">
                                {% if structure.area is not null %}{{ structure.area }} :{% endif %}
                                {{ structure.name }}
                            </a>
                        {% elseif is_granted('ROLE_MEMBER') %}
                            <a href="{{ path('user_register_join', {'slug': structure.slug}) }}" title="Adhérer à la structure {{ structure.name }}">
                                {% if structure.area is not null %}{{ structure.area }} :{% endif %}
                                {{ structure.name }}
                            </a>
                        {% endif %}
                    </div>
                    {% if structure.fullname is not null %}<div class="col-sm-12">{{ structure.fullname }}</div>{% endif %}
                    <div class="col-sm-12">
                        {% if structure.email is not null %}<a href="mailto:{{ structure.email }}" title="{{ structure.email }}">{{ icon('envelope') }}</a>{% endif %}
                        {% if structure.address['city'] is not null and structure.address['city'] != '-' %}<a href="#" title="{{ structure.printableAddress }}">{{ icon('home') }}</a>{% endif %}
                    </div>
                </div>
            </li>
        {% else %}
            <li class="noentity structure">
                Aucune structure enregistrée.
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('core_structure_new') }}" title="Ajouter une structure">Ajouter une structure</a>.
                {% else %}
                    Contactez un administrateur.
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/pigasscore/js/confirm.js') }}" type="text/javascript"></script>
{% endblock %}
