{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Terrains de stage
    {% if limit %}
        ({{ limit.description }})
    {% endif %}
{% endblock %}

{% block headline %}
    Terrains de stage
    {% if limit %}
        ({{ limit.description }})
    {% endif %}
{% endblock %}

{% block action %}
    {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-primary mb-3" href="{{ path('GCore_FSANewHospital', {'slug': structure.slug, 'slug': structure.slug, 'limit': limit }) }}" title="Ajouter un nouvel hôpital">
                <i class="fas fa-plus"></i> Ajouter
            </a>
    {% endif %}
    {% for sector in sectors %}
            <a class="btn btn-primary" href="{{ path('GCore_FSIndex', {'slug': structure.slug, 'limit': {'slug': structure.slug, 'type': 's.id', 'value': sector.id, 'description': sector.name}}) }}" title="Afficher les terrains de la catégorie {{ sector }}">
                <i class='fas fa-filter'></i> {{ sector }}
            </a>
    {% endfor %}
{% endblock %}

{% block content %}
    {% for hospital in hospitals %}
        <div class="card {% if not loop.first %}mt-3{% endif %}">
            {% include 'hospital/hospital.html.twig' with {'structure': structure, 'hospital': hospital} %}
        </div>
    {% else %}
        <div class="card noentity hospital">Aucun hôpital enregistré</div>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
        {% for hospital in orphaneds %}{% if hospital not in hospitals and not limit %}
            <div class="card mt-3">
                {% include 'hospital/hospital.html.twig' with {'structure': structure, 'hospital': hospital} %}
            </div>
        {% endif %}{% endfor %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/gessehcore/js/confirm.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/gessehcore/js/actions.js') }}" type="text/javascript"></script>
{% endblock %}
