{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - {{ department.hospital.name }}/{{ department.name }} : informations{% endblock %}

{% block headline %}{{ department.name }} à {{ department.hospital.name }}{% endblock %}

{% block action %}
            <a class="btn btn-primary" href="{{ path('GCore_FSIndex', {'slug': department.hospital.structure.slug}) }}">
                <i class='fas fa-arrow-alt-circle-left'></i> Retour aux terrains
            </a>
            <a class="btn btn-primary" href="{{ path('GCore_FSShowDepartment', {'slug': department.hospital.structure.slug, 'id': department.id}) }}">
                <i class='fas fa-hospital'></i> Terrain de stage
            </a>
        {% if param('eval_' ~ department.hospital.structure.slug ~ '_active') == true and (
            (is_granted('ROLE_STUDENT') and param('eval_' ~ department.hospital.structure.slug ~ '_nonmember') == false)
            or is_granted('ROLE_MEMBER')
            or is_granted('ROLE_SUPERTEACHER')
            or (
                is_granted('ROLE_TEACHER')
                and isSupervisor
                )
            ) %}
                <a class="btn btn-primary" href="{{ path('GEval_DShow', {'slug': department.hospital.structure.slug, 'id': department.id, 'limit': limit }) }}" title="Afficher les évaluations pour ce service">
                    <i class='fas fa-chart-bar'></i> Evaluations
                </a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-primary" href="{{ path('GCore_PAPlacementIndex', {'slug': department.hospital.structure.slug, 'limit': { 'type': 'd.id', 'value': department.id, 'description': department.name ~ ' à ' ~ department.hospital.name }}) }}" title="Afficher les stages associés au service '{{ department.name }}'">
                    <i class='fas fa-list-alt'></i> Stages
                </a>
                <a class="btn btn-primary" href="{{ path('GCore_PARepartitionsDepartment', {'slug': department.hospital.structure.slug, 'department_id': department.id}) }}" title="Modifier la répartition du service '{{ department }}'">
                    <i class='fas fa-briefcase'></i> Postes
                </a>
                <a class="btn btn-danger" href="{{ path('GCore_FSADeleteDepartment', {'slug': department.hospital.structure.slug, 'id': department.id, 'limit': limit }) }}" title="Supprimer le service '{{ department.name }}'" class="confirm delete" confirm="Attention ! Supprimer ce terrain de stage suprimera également toutes les données qui s'y rapportent (stages, évaluations, etc). Confirmez-vous la suppression ?">
                    <i class='fas fa-trash'></i> Supprimer
                </a>
        {% endif %}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header text-center bg-primary text-white">Présentation</div>
        <div class="card-body">
            <div class="card-text">
                <div>Adresse&nbsp;: {{ department.hospital.address }}</div>
                <div>Téléphone&nbsp;:<a href="tel:{{ department.hospital.phone }}">{{ department.hospital.phone }}</a></div>
                <div><a href="{{ department.hospital.web }}">Site web</a></div>
            </div>
            <p class="card-text">{{ department.hospital.description|raw }}</p>
            <p class="card-text">{{ department.description|raw }}</p>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="card-footer text-center btn-group">
            <a class="btn btn-warning btn-sm" href="{{ path('GCore_FSAEditHospital', {'slug': department.hospital.structure.slug, 'id': department.hospital.id, 'limit': limit }) }}" title="Modifier la description de l'hôpital '{{ department.hospital.name }}'">
                <i class='fas fa-pencil-alt'></i> Modifier l'établissement
            </a>
            <a class="btn btn-primary btn-sm" href="{{ path('GCore_FSAEditDepartmentDescription', {'slug': department.hospital.structure.slug, 'id': department.id, 'limit': limit }) }}" title="Modifier la description du service '{{ department.name }}'">
                <i class='fas fa-pencil-alt'></i> Modifier le terrain de stage
            </a>
        </div>
        {% endif %}
    </div>

    <div class="card mt-3">
        <div class="card-header text-center bg-primary text-white">
            Agréments
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for accreditation in department.accreditations %}
                    {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPERTEACHER") or accreditation.end > "now" %}
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <div><i class="fas fa-calendar-check"></i> {{ accreditation.begin|date('F Y') }}</div>
                            <div><i class="fas fa-calendar-times"></i> {{ accreditation.end|date('F Y') }}</div>
                        </div>
                        <div>
                            <span class="badge badge-info">{{ accreditation.sector.name }}</span>
                        </div>
                        <div>
                            <i class="fas fa-user-md"></i> {{ accreditation.supervisor }}
                        </div>
                        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPERTEACHER") %}
                            <div class="btn-group-vertical">
                                <a class="btn btn-primary btn-sm" href="{{ path('GCore_FSAEditAccreditation', {'slug': department.hospital.structure.slug, 'id': accreditation.id, 'limit': limit }) }}" title="Modifier l'agrément du service '{{ department.name }}'">
                                    <i class='fas fa-pencil-alt'></i> Modifier
                                </a>
                                {% if 'ROLE_SUPERTEACHER' in accreditation.user.roles %}
                                    <a class="btn btn-danger btn-sm" href="{{ path('GCore_FSADemote', {'slug': department.hospital.structure.slug, 'id': accreditation.id, 'limit': limit}) }}" title="Démettre l'enseignant '{{ accreditation.supervisor }}'">
                                        <i class='fas fa-star-half'></i> Démettre
                                    </a>
                                {% else %}
                                    <a class="btn btn-warning btn-sm" href="{{ path('GCore_FSAPromote', {'slug': department.hospital.structure.slug, 'id': accreditation.id, 'limit': limit}) }}" title="Promouvoir l'enseignant '{{ accreditation.supervisor }}'">
                                        <i class='fas fa-star'></i> Promouvoir
                                    </a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPERTEACHER") %}
        <div class="card-footer text-center btn-group">
            <a class="btn btn-primary btn-sm" href="{{ path('GCore_FSANewAccreditation', {'slug': department.hospital.structure.slug, 'id': department.id, 'limit': limit }) }}" title="Ajouter un agrément">
                <i class='fas fa-plus'></i> Ajouter agrément
            </a>
        </div>
        {% endif %}
    </div>

    {% if clusters is not null %}
    <div class="card mt-3">
        <div class="card-header text-center bg-primary text-white">
            Terrains combinés
        </div>
        <div class="card-body">
            {% for cluster in clusters %}
                <div class="entities list-group-item">
                    <div class="title">{{ cluster['period'].name }} :</div>
                    <ul class="subentities">
                        {% for repartition in cluster['repartitions'] %}
                            {% if repartition.department.id != department.id %}
                                <li class="subentity">
                                    <a href="{{ path('GCore_FSShowDepartment', {'slug': department.hospital.structure.slug, 'id': repartition.department.id, 'limit': limit }) }}">{{ repartition.department }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if evaluated is not null %}
        {% for placement_id, evaluations in evaluated %}
            {% if evaluations %}
                <div class="content">Vous avez évalué ce terrain de stage.</div>
            {% else  %}
                <div classe="content"><a href="{{ path('GEval_DEval', {'slug': department.hospital.structure.slug, 'id': placement_id}) }}" title="Évaluer le terrain de stage '{{ department }}'">Evaluer ce stage</a></div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
