{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ structure.name }}- Signataires
{% endblock %}

{% block headline %}
    {{ structure.name }} - Signataires
{% endblock %}

{% block action %}
<a class="btn btn-primary" href="{{ path('core_receipt_new', {'slug': structure.slug}) }}" title="Ajouter un nouvel émetteur de reçu fiscal">
    <i class='fas fa-plus'></i> Ajouter
</a>
{% include '/dashboard/admin_menu.html.twig' with {'slug': structure.slug} %}
{% endblock %}

{% block content %}
{% for receipt in receipts %}
    <div class="card mb-2">
        <div class="card-header bg-primary text-white">
            <i class="fas fa-edit"></i>
            Du {{ receipt.begin|date('m/Y') }} au {{ receipt.end|date('m/Y') }}
        </div>
        <div class="card-body row">
            <div class="col-sm-2">
                <img src="{{ asset(vich_uploader_asset(receipt, 'imageFile')) }}" alt="Signature de {{ receipt.person }}" class="logo" />
            </div>
            <div class="col-sm-auto">
                <div class="font-weight-bold">{{ receipt.person }}</div>
                <div class="font-italic">{{ receipt.position }}</div>
            </div>
        </div>
        <div class="card-footer text-center">
            <a class="edit btn btn-primary btn-sm" href="{{ path('core_receipt_edit', {'slug': structure.slug, 'id': receipt.id}) }}" title="Modifier l'émetteur de reçu fiscal '{{ receipt.imageName }}'">
                <i class='fas fa-pencil-alt'></i> Modifier
            </a>
            <a class="confirm delete btn btn-primary btn-sm" href="{{ path('core_receipt_delete', {'id': receipt.id}) }}" title="Supprimer l'émetteur de reçu fiscal '{{ receipt.imageName }}'" confirm="Attention, vous allez supprimer la receipt et toutes les informations s'y rapportant ! Voulez-vous continuer ?">
                <i class='fas fa-trash'></i> Supprimer
            </a>
        </div>
{% else %}
    <div class="card">
        <div class="card-header">
                Aucun émetteur de reçu fiscal enregistré. <a href="{{ path('core_receipt_new', {'slug': structure.slug}) }}" title="Ajouter un émetteur de reçu fiscal">Ajouter un émetteur de reçu fiscal</a>.
        </div>
    </div>
{% endfor %}
{% endblock %}
