{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Stages
    {% if limit is not null %}
        ({{ limit.description }})
    {% endif %}
{% endblock %}

{% block headline %}
    Stages
    {% if limit is not null %}
        ({{ limit.description }})
    {% endif %}
{% endblock %}

{% block action %}
    <a class="btn btn-primary" href="{{ path('app_dashboard_user', {'slug': structure.slug}) }}?{{ app.request.queryString }}" title="Ajouter un nouveau stage" class="add">
        <i class="fas fa-arrow-left"></i> Retour
    </a>
{% endblock %}

{% block content %}
    <li id="placement_{% if placement is defined %}{{ placement.id }}{% else %}new{% endif %}">
        {{ form(placement_form) }}
        {% if param('eval_' ~ structure.slug ~ '_active') == true %}<td class="small"></td>{% endif %}
    </li>
{% endblock %}

{% block stylesheets %}
    {{ parent()  }}
    <link href="https://code.jquery.com/ui/1.11.4/themes/start/jquery-ui.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{{ asset('bundles/gessehsimulation/js/combobox.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/gessehcore/js/confirm.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/gessehcore/js/actions.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            $('select.combobox').combobox()
        });
    </script>
{% endblock %}
