{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}{% if slug != 'all' %} - {{ slug }}{% endif %} - Questions{% endblock %}

{% block headline %}Questions{% endblock %}

{% block action %}
        <li class="btn btn-primary">
            <a href="{{ path('user_register_question_new', {'slug': slug}) }}" title="Ajouter une question">
                <i class='fas fa-plus-sign'></i> Ajouter
            </a>
        </li>
    </ul>
    {% if slug != 'all' %}{{ mopa_bootstrap_menu('parameter') }}{% endif %}
{% endblock %}

{% block content %}
    <ul class="entities list-group">
        {% for question in questions %}
            <li class="entity list-group-item row">
                {% if is_granted("ROLE_ADMIN") or (question.structure is not null and (is_granted("ROLE_STRUCTURE") and question.structure.slug == slug)) %}
                <span class="float-right">
                    <button class="btn btn-primary dropdown-toogle" data-toggle="dropdown"><i class='fas fa-bars'></i> <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('user_register_question_edit', {'id': question.id, 'slug': slug}) }}" title="Modifier la question complémentaire" class="edit">
                                <i class='fas fa-pencil'></i> Modifier
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('user_register_question_index', {'slug': slug}) }}" title="Supprimer la question complémentaire" class="delete confirm">
                                <i class='fas fa-trash'></i> Supprimer
                            </a>
                        </li>
                    </ul>
                </span>
                {% endif %}

                <div class="col-sm-3 title">{{ question.name }} (*{{ question.short }})</div>
                <div class="col-sm-2">{{ question.structure }}</div>
                <div class="col-sm-2">{{ question.readableType }}</div>
                <ul class="col-sm-3">
                    {% for answer in question.more %}
                        <li>{{ answer }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% else %}
            <li class="noentity list-group-item">
                Il n'y a aucune question à afficher
            </li>
        {% endfor %}
    </ul>
{% endblock %}
