{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Simulation{% endblock %}

{% block headline %}Résultats de la simulation{% endblock %}

{% block action %}
    {% if simulations is not empty %}
        <li class="btn btn-primary">
            <a href="{{ path('GSimul_SSim', {'slug': structure.slug}) }}" title="Lancer l'algorithme de simulation">
                <i class="fas fa-refresh"></i> Actualiser les simulations
            </a>
        </li>
        <li class="btn btn-primary">
            <a href="{{ path('GSimul_SASave', {'slug': structure.slug}) }}" title="Valider les simulation et les enregistrer dans les stages." class="confirm" confirm="Attention ! Valider les données va enregistrer les stages correspondants et supprimer la simulation actuelle. Souhaitez-vous continuer ?">
                <i class="fas fa-ok-circle"></i> Valider
            </a>
        </li>
        <li class="btn btn-primary">
            <a href="{{ path('GSimul_SAPurge', {'slug': structure.slug}) }}" title="Supprimer la table de simulation" class="confirm" confirm="Attention ! Cette opération va supprimer toutes les données concernant la simulation en cours. Souhaitez-vous continuer ?">
                <i class="fas fa-trash"></i> Supprimer
            </a>
        </li>
        <li class="btn btn-primary">
            <a href="{{ path('GSimul_SALiveRepart', {'slug': structure.slug}) }}" title="Passer en mode de répartition en présentiel">
                <i class="fas fa-time"></i> Répartir
            </a>
        </li>
        <li class="btn btn-primary">
            <a href="{{ path('GSimul_SALiveLeft', {'slug': structure.slug}) }}" title="Afficher les postes restants en présentiel">
                <i class="fas fa-eye-open"></i> Postes restants
            </a>
        </li>
    {% else %}
        <li class="btn btn-primary">
            <a href="{{ path('GSimul_SADefine', {'slug': structure.slug}) }}" title="Cliquez pour générer la table de simulation">
                <i class="fas fa-off"></i> Générer la table
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="card">
    {% if simulations is not empty %}
        <div class="card-header text-center">
            <div class="progress">
                {% set simul_value = simul_total - simul_missing / simul_total * 100 %}
                <div class="progress-bar bg-warning" role="progressbar" style="width: {{ simul_value|round(0, 'floor') }}%" aria-valuenow="{{ simul_total - simul_missing }}" aria-valuemin="0" aria-valuemax="{{ simul_total }}">{{ simul_total - simul_missing }} / {{ simul_total }}</div>
            </div>
        </div>
        <div class="card-body">
            {{ include('simulation/simulations.html.twig', {'simulations': simulations}) }}
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.valid').parent('li').addClass('valid');
            $('.invalid').parent('li').addClass('invalid');
            $('.grey').parent('li').addClass('grey');
            $('.warning').parent('li').addClass('warning');

            function find(name){
                return $.grep(purposeObjects, function(item){
                    return item.name == name;
                });
            };

        });
    </script>
{% endblock %}
