{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - {{ department.name }} à {{ department.hospital.name }} : évaluations{% endblock %}
{% block headline %}{{ department.name }} à {{ department.hospital.name }} : évaluations{% endblock %}

{% block action %}
    <ul class="nav nav-pills">
        <li class="btn btn-primary">
            <a href="{{ path('GCore_FSShowDepartment', {'slug': department.hospital.structure.slug, 'id': department.id}) }}#description">
                <i class='fas fa-info-sign'></i> Description
            </a>
        </li>
        <li class="btn btn-primary">
            <a href="{{ path('GCore_FSShowDepartment', {'slug': department.hospital.structure.slug, 'id': department.id}) }}#hopital">
                <i class='fas fa-home'></i> Structure de soins
            </a>
        </li>
        <li class="btn btn-primary">
            <a href="{{ path('GCore_FSShowDepartment', {'slug': department.hospital.structure.slug, 'id': department.id}) }}#agrement">
                <i class='fas fa-certificate'></i> Agréments
            </a>
        </li>
        <li class="active btn btn-primary">
            <a href="#evaluation" title="Afficher les évaluations pour ce service">
                <i class='fas fa-stats'></i> Evaluations
            </a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li class="btn btn-primary">
                <a href="{{ path('GCore_PAPlacementIndex', {'slug': department.hospital.structure.slug, 'limit': { 'type': 'd.id', 'value': department.id, 'description': department.name ~ ' à ' ~ department.hospital.name }}) }}" title="Afficher les stages associés au service '{{ department.name }}'">
                    <i class='fas fa-list-alt'></i> Stages
                </a>
            </li>
            <li class="btn btn-primary">
                <a href="{{ path('GCore_PARepartitionsDepartment', {'slug': department.hospital.structure.slug, 'department_id': department.id}) }}" title="Modifier la répartition du service '{{ department }}'">
                    <i class='fas fa-briefcase'></i> Postes
                </a>
            </li>
            <li class="delete btn btn-danger">
                <a href="{{ path('GCore_FSADeleteDepartment', {'slug': department.hospital.structure.slug, 'id': department.id }) }}" title="Supprimer le service '{{ department.name }}'" class="confirm delete" confirm="Attention ! Supprimer ce terrain de stage suprimera également toutes les données qui s'y rapportent (stages, évaluations, etc). Confirmez-vous la suppression ?">
                    <i class='fas fa-trash'></i> Supprimer
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    <div class="tab-content">
        <ul class="evaluation tab-pane active list-group container-fluid" id="evaluation">
            {% set rank = 0 %}
            {% for item in eval %}
                {% set rank = rank + 1 %}

                <li class="list-group-item criteria {{ cycle(['odd', 'even'], loop.index0) }} d-flex justify-content-between align-items-center">
                    <span>{{ rank }}. {{ item['name'] }}</span>
                    {% if item['type'] == 2 %}
                        <ul class="comments col-sm-12">
                            {% for comment in item['text'] %}
                                <li class="comment {{ cycle(['subodd', 'subeven'], loop.index0) }}">{{ comment }}</li>
                            {% endfor %}
                        </ul>
                    {% elseif item['type'] == 1 or item['type'] == 7 %}
                        <span>
                        <span class="mean" title="Évaluations antérieures : {% for period,mean in item['mean'] %}{% if period > 0 %}{{ mean }} ({{ item['total'][period] }}) ; {% endif %}{% endfor %}"><progress class="bar" value="{{ item['mean'][0] }}" max="100">{{ item['mean'][0] }}</progress></span>
                        <span class="total badge" title="{{ item['total'][0] }} {% if item['total'][0] > 1 %}évaluations{% else %} évaluation{% endif %}">({{ item['total'][0] }} éval.)</span>
                        </span>
                    {% elseif item['type'] == 3 %}
                        <ul class="tags col-sm-5">
                            {% for tag,size in item['size'][0] %}
                                <li class="tag"><span class="label label-info">{{ tag }}</span></li>
                            {% endfor %}
                        </ul>
                    {% elseif item['type'] == 4 %}
                        <span>
                        <span class="mean badge badge-info">{{ item['mean'][0] }}</span>
                        <span class="total badge" title="{{ item['total'][0] }} {% if item['total'][0] > 1 %}évaluations{% else %} évaluation{% endif %}">({{ item['total'][0] }} éval.)</span>
                        </span>
                    {% elseif item['type'] == 5 or item['type'] == 6 %}
                        {% set max = 0 %}
                        {% for tag,count in item['count'][0] %}
                            {% if max < item['max'] %}
                                <span>
                                <span class="tag label label-info">{{ tag }}</span>
                                <span class="count badge" title="{{ item['count'][0][tag] }} {% if item['count'][0][tag] > 1 %}évaluations{% else %} évaluation{% endif %}">({{ item['count'][0][tag] }} éval.)</span>
                                </span>
                            {% endif %}
                            {% set max = max + 1 %}
                        {% endfor %}
                    {% else %}
                        <span class="">{{ item['type'] }}</span>
                    {% endif %}
                </li>
            {% else %}
                <div class="list-group-item criteria">Aucune évaluation pour le terrain de stage.</div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
