{% extends 'PigassCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Adhérents{% endblock %}

{% block headline %}Adhérents actuels{% endblock %}

{% block action %}
    <li class="btn btn-info">
        {% if count < 1 %}
            Aucun adhérent
        {% elseif count == 1 %}
            {{ count }} adhérent
        {% else %}
            {{ count }} adhérents
        {% endif %}
    </li>
    <li class="btn btn-primary">
        <a href="{{ path('user_register_export', {'slug': slug}) }}" title="Exporter la liste des adhérents à jour de cotisation">
            {{ icon('folder-open') }} Exporter (xls)
        </a>
    </li>
    <li class="btn btn-primary">
        <a href="{{ path('user_register_import', {'slug': slug}) }}" title="Importer une liste d'adhérents">
            {{ icon('open-file') }} Importer
        </a>
    </li>
    <li class="btn btn-primary">
        <a href="{{ path('user_register_membership_new', {'slug': slug}) }}" title ="Ajouter un adhérent">
            {{ icon('plus') }} Ajouter
        </a>
    </li>
    <li class="btn">
        <form>
            {{ icon('search') }}
            <input type="text" id="search" name="search" value="{{ filters['search'] }}" />
            <a href="{{ path('user_register_index', {'slug': slug, 'skipsearch': true}) }}" title="Supprimer la recherche">
                {{ icon('trash') }}
            </a>
        </form>
    </li>
    {% if filters['valid'] is null %}
        <li class="btn btn-default">
            <a href="{{ path('user_register_filter_add', {'type': 'valid', 'id': 0, 'value': 1, 'slug': slug}) }}" title="Filtrer par adhésion validée">
                Validation ?
            </a>
        </li>
    {% elseif filters['valid'] == true %}
        <li class="btn btn-success">
            <a href="{{ path('user_register_filter_add', {'type': 'valid', 'id': 0, 'value': 0, 'slug': slug}) }}" title="Filtrer par adhésion non validée">
                Validation : Oui
            </a>
        </li>
    {% elseif filters['valid'] == false %}
        <li class="btn btn-danger">
            <a href="{{ path('user_register_filter_remove', {'type': 'valid', 'id': 0, 'slug': slug}) }}" title="Supprimer le filtre par adhésion">
                Validation : Non
            </a>
        </li>
    {% endif %}
    {% if filters['ending'] is null %}
        <li class="btn btn-default">
            <a href="{{ path('user_register_filter_add', {'type': 'ending', 'id': 0, 'value': 1, 'slug': slug}) }}" title="Filtrer par adhésion se terminant bientôt">
                Péremption prochaine ?
            </a>
        </li>
    {% elseif filters['ending'] == true %}
        <li class="btn btn-success">
            <a href="{{ path('user_register_filter_add', {'type': 'ending', 'id': 0, 'value': 0, 'slug': slug}) }}" title="Filtrer par adhésion ne se terminant pas bientôt">
                Adhésion arrivant à terme
            </a>
        </li>
    {% elseif filters['ending'] == false %}
        <li class="btn btn-danger">
            <a href="{{ path('user_register_filter_remove', {'type': 'ending', 'id': 0, 'slug': slug}) }}" title="Supprimer le filtre des adhésions se terminant bientôt">
                Adhésion n'arrivant pas à terme
            </a>
        </li>
    {% endif %}
    {% if fees is not null %}
        <li class="btn btn-default">
            <div class="title">Type d'adhésion</div>
            {% for fee in fees %}
                {% if filters['fee'] == fee.id %}
                    <div class="item">
                        <a href="{{ path('user_register_filter_remove', {'type': 'fee', 'id': 0, 'slug': slug}) }}" title="Suprimer le filtre d'adhésion : {{ fee.title }}">
                            {{ fee.title }}
                        </a>
                    </div>
                {% elseif filters['fee'] is null %}
                    <div class="item">
                        <a href="{{ path('user_register_filter_add', {'type': 'fee', 'id': 0, 'value': fee.id, 'slug': slug}) }}" title="Filtrer par type d'adhésion : {{ fee.title }}">
                            {{ fee.title }}
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </li>
    {% endif %}
    {% for question in questions %}
        <li class="btn btn-sm btn-default">
            <div class="title">{{ question.short }}</div>
            {% if filters['questions'][question.id] is defined %}
                <div class="item">
                    <a href="{{ path('user_register_filter_remove', {'type': 'questions', 'id': question.id, 'slug': slug}) }}" title="Suprimer le filtre {{ question.name }} : {{ filters['questions'][question.id] }}">
                        {{ filters['questions'][question.id] }}
                    </a>
                </div>
            {% else %}
                {% for answer in question.more %}
                    <div class="item">
                        <a href="{{ path('user_register_filter_add', {'type': 'questions', 'id': question.id, 'value': answer, 'slug': slug}) }}" title="Filtrer par {{ question.name }} : {{ answer }}">
                            {{ answer }}
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </li>
    {% endfor %}

{% endblock %}

{% block content %}
    {% set cur = 0 %}
    <ul class="entities list-group">
    {% for membership in memberships %}
        {% if not filters['search'] or membership.person.id != cur %}
        {% set cur = membership.person.id %}
        <li class="entity person list-group-item row">
            <span class="btn-group pull-right">
                <button class="btn btn-primary dropdown-toogle" data-toggle="dropdown">Actions <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {% if membership.status == 'registered' %}
                        <li>
                            <a href="{{ path('user_register_validate', {'id': membership.id, 'userid': membership.person.user.id, view: 'index'}) }}" title="Valider la réception du paiement pour cette adhésion">
                                {{ icon('ok') }} Valider le paiement
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('user_register_delete', {'id': membership.id, 'userid': membership.person.user.id, 'view': 'index'}) }}" title="Supprimer cette adhésion">
                                {{ icon('trash') }} Supprimer
                            </a>
                        </li>
                    {% elseif membership.status == 'paid' %}
                        <li>
                            <a href="{{ path('user_register_validate', {'id': membership.id, 'userid': membership.person.user.id, view: 'index'}) }}" title="Valider la réception de la fiche signée pour cette adhésion">
                                {{ icon('ok') }} Valider la fiche
                            </a>
                        </li>
                    {% elseif membership.status == 'validated' %}
                        <li>
                            <a href="{{ path('user_register_validate', {'id': membership.id, 'userid': membership.person.user.id, view: 'index'}) }}" title="Modifier le paiement de cette adhésion">
                                {{ icon('pencil') }} Modifier le paiement
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ path('user_register_list', {'userid': membership.person.user.id, 'slug': slug}) }}" title="Afficher les informations personnelles de l'adhérent">
                            {{ icon('user') }} Informations
                        </a>
                    </li>
                </ul>
            </span>

            <div class="field title">
                {% if membership.status == 'registered' %}
                    <span style="color:red;" title="Adhésion incomplète : manque le paiement">{{ icon('euro') }}</span>
                {% elseif membership.status == 'paid' %}
                    <span stype="color:red;" title="Adhésion incomplète : manque la fiche signée">{{ icon('list-alt') }}</span>
                {% endif %}
                {% if membership.expiredOn|date('Ymd') < "now"|date_modify(kparam('reg_'~slug~'_anticipated'))|date('Ymd') %}
                    <span style="color:orange;" title="Fin de période d'adhésion proche">
                        <a href="{{ path('user_register_filter_add', {'type': 'ending', 'id': 0, 'value': 1, 'slug': slug}) }}" title="Fin de la période d'adhésion proche" style="color:orange; text-decoration:none;">
                        {{ icon('hourglass') }}
                        </a>
                    </span>
                {% endif %}
                {{ membership.person }}
            </div>
            <div class="field">({{ membership.person.birthday|date('d/m/y') }})</div>
            {% if membership.payedOn is not null %}
                <div class="">Adhésion par {{ membership.method.label|lower }} effectuée le {{ membership.payedOn|date('d/m/Y') }}</div>
            {% endif %}
        </li>
        {% endif %}
    {% else %}
        <li class="list-group-item">Aucune adhésion enregistrée.</li>
    {% endfor %}
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/pigassregister/js/filter.js') }}" type="text/javascript"></script>
{% endblock %}
