{% extends 'PigassUserBundle::layout.html.twig' %}

{% block headline %}
    {% if userid is not null %}
        Adhésions
    {% else %}
        Mes adhésions
    {% endif %}
{% endblock %}

{% block action %}
    {% if userid is not null %}
        <li class="btn btn-info">
            <a href="{{ path('user_register_index', {'slug': slug}) }}" title="Revenir à la liste des adhérents">
                {{ person }}
            </a>
        </li>
    {% endif %}
    {% if slug is not null %}
        {% if reJoinable == true %}
            <li class="btn btn-primary">
                <a href="{{ path('user_register_register', {'slug': slug, 'rejoin': true}) }}&{{ app.request.queryString }}">
                    {{ icon('euro') }} Ré-adhérer
                </a>
            </li>
            {% if 'ROLE_STRUCTURE' not in person.user.roles %}
                <li class="btn btn-primary">
                    <a href="{{ path('core_structure_index') }}" title="Adhérer à une autre structure">
                        {{ icon('euro') }} Autre structure
                    </a>
                </li>
            {% endif %}
        {% else %}
            <li class="btn btn-warning">
                Adhésion en cours
            </li>
        {% endif %}
        {% if is_granted('ROLE_STRUCTURE') or is_granted('ROLE_ADMIN') %}
            <li class="btn btn-primary">
                {% if 'ROLE_STRUCTURE' in person.user.roles %}
                    <a href="{{ path('user_person_demote', {'id': person.id, 'slug': slug}) }}" title="Retirer les droits d'administration de la structure {{ slug }} à l'utilisateur">
                        {{ icon('star') }} Démettre
                    </a>
                {% else %}
                    <a href="{{ path('user_person_promote', {'id': person.id, 'slug': slug}) }}" title="Ajouter des droits d'administration de la structure {{ slug }} à l'utilisateur">
                        {{ icon('star-empty') }} Promouvoir
                    </a>
                {% endif %}
            </li>
        {% endif %}
    {% else %}
        <li class="btn btn-primary">
            <a href="{{ path('core_structure_index') }}">
                {{ icon('euro') }} Adhérer
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <ul class="entities list-group">
        <li class="list-group-item">
            <span class="btn btn-primary pull-right">
                <a href="{{ path('user_person_edit_me') }}?{{ app.request.queryString }}" title="Modifier">
                    {{ icon('pencil') }} Modifier
                </a>
            </span>
            <div class="title">État civil</div>
            <div class="">{{ person.title }} {{ person.surname }} {{ person.name }}</div>
            <div class="">Naissance : {{ person.birthday|date('d/m/Y') }} à {{ person.birthplace }}</div>
        </li>
        <li class="list-group-item">
            <span class="btn btn-primary pull-right">
                <a href="{{ path('fos_user_change_password') }}?{{ app.request.queryString }}" title="Modifier le mot de passe">
                    {{ icon('lock') }} Mot de passe
                </a>
            </span>
            <div class="title">Contact</div>
            <div class="">{{ icon('phone') }} {{ person.phone }}</div>
            <div class="">{{ icon('home') }} {% for item in person.address %} {{ item }} {% endfor %}</div>
            <div class="">{{ icon('envelope') }} {{ person.user.email }}</div>
        </li>
    </ul>
    <ul class="entities list-group">
        {% for membership in memberships %}
            <li class="list-group-item row col-lg-4 col-md-6 col-sm-12">
                <span class="pull-right">
                    <button class="btn btn-primary dropdown-toogle" data-toggle="dropdown">{{ icon('bars') }} <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('user_register_infos', {'id': membership.id, 'userid': userid}) }}" title="Afficher les réponses aux questions complémentaires">
                                {{ icon('question-circle') }} Questions complémentaires
                            </a>
                        </li>
                        {% if membership.status == 'validated' %}
                            <li>
                                <a href="{{ path('core_receipt_build', {'id': membership.id}) }}" title="Télécharger le reçu fiscal">
                                    {{ icon('edit') }} Reçu fiscal
                                </a>
                            </li>
                        {% else %}
                            {% if is_granted('ROLE_STRUCTURE') %}
                                <li>
                                    <a href="{{ path('user_register_edit', {'id': membership.id, 'userid': userid, 'slug': slug}) }}" title="Modifier l'adhésion">
                                        {{ icon('pencil') }} Modifier
                                    </a>
                                </li>
                            {% endif %}
                            {% if kparam('reg_' ~ slug ~ '_print') %}
                                <li>
                                    <a href="{{ path('user_register_print', {'id': membership.id, 'userid': userid, 'slug': slug}) }}" title="Fiche d'adhésion à retourner signée">
                                        {{ icon('list-alt') }} Fiche d'adhésion
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                        {% if membership.payedOn is null %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="{{ path('user_register_validate', {'id': membership.id, 'userid': userid}) }}" title="Valider la réception du paiement pour cette adhésion">
                                    {{ icon('check-circle') }} Valider
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{{ path('user_register_delete', {'id': membership.id, 'userid': userid}) }}" title="Supprimer cette adhésion">
                                    {{ icon('times-circle') }} Supprimer
                                </a>
                            </li>
                        {% elseif membership.status == 'paid' %}
                            <li>
                                <a href="{{ path('user_register_validate', {'id': membership.id, 'userid': membership.person.user.id, view: 'index'}) }}" title="Valider la réception de la fiche signée pour cette adhésion">
                                    {{ icon('check-circle') }} Valider la fiche
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </span>
                <div class="col-xs-2">
                    {% if membership.structure.logo is not null %}
                        <img src="{{ asset('uploads/' ~ membership.structure.logo) }}" alt="{{ membership.structure.logo }}" class="logo"/>
                    {% endif %}
                </div>
                <div class="col-xs-8">
                    <p>Adhésion jusqu'au {{ membership.expiredOn|date('d/m/Y') }}</p>
                    <p>Paiement : {{ membership.amount/100|number_format(2,',',' ') }} € par {{ membership.method.label|lower }}
                    {% if membership.payedOn is not null %}
                        le {{ membership.payedOn|date('d/m/Y') }}.
                    {% else %}
                        ; la transaction na pas été validée.
                        {% if membership.method.config['address']['city'] is defined and not null %}
                            <span title="Chèque à l'ordre de {{ membership.method.config['payableTo'] }} ; {{ membership.method.config['address']['number'] }} {{ membership.method.config['address']['type'] }} {{ membership.method.config['address']['street'] }}, {{ membership.method.config['address']['complement'] }}, {{ membership.method.config['address']['code'] }} {{ membership.method.config['address']['city'] }}, {{ membership.method.config['address']['country'] }}">{{ icon('globe') }}</span>
                        {% endif %}
                        {% if membership.method.config['iban'] is defined and not null %}
                            <span title="IBAN : {{ membership.method.config['iban'] }}">{{ icon('comment') }}</span>
                        {% endif %}
                    {% endif %}
                    </p>
                </div>
            </li>
        {% else %}
            <li class="list-group-item">Aucune adhésion enregistrée.</li>
        {% endfor %}
    </ul>
{% endblock %}
