{% extends 'PigassUserBundle::layout.html.twig' %}

{% block headline %}
    {% if userid is not null %}
        Adhésions
    {% else %}
        Mes adhésions
    {% endif %}
{% endblock %}

{% block action %}
    {% if userid is not null %}
        <li class="btn btn-info">
            <a href="{{ path('user_register_index', {'slug': slug}) }}" title="Revenir à la liste des adhérents">
                {{ person }}
            </a>
        </li>
    {% endif %}
    {% if slug is not null %}
        {% if reJoinable == true %}
            <li class="btn btn-primary">
                <a href="{{ path('user_person_edit_me', {'slug': slug, 'redirect': 'user_register_join'}) }}&{{ app.request.queryString }}">
                    {{ icon('euro') }} Ré-adhérer
                </a>
            </li>
            {% if 'ROLE_STRUCTURE' not in person.user.roles %}
                <li class="btn btn-primary">
                    <a href="{{ path('core_structure_index') }}" title="Adhérer à une autre structure">
                        {{ icon('euro') }} Autre structure
                    </a>
                </li>
            {% endif %}
        {% else %}
            <li class="btn btn-warning">
                Adhésion en cours
            </li>
        {% endif %}
        {% if is_granted('ROLE_STRUCTURE') or is_granted('ROLE_ADMIN') %}
            <li class="btn btn-primary">
                {% if 'ROLE_STRUCTURE' in person.user.roles %}
                    <a href="{{ path('user_person_demote', {'id': person.id, 'slug': slug}) }}" title="Retirer les droits d'administration de la structure {{ slug }} à l'utilisateur">
                        {{ icon('star') }} Démettre
                    </a>
                {% else %}
                    <a href="{{ path('user_person_promote', {'id': person.id, 'slug': slug}) }}" title="Ajouter des droits d'administration de la structure {{ slug }} à l'utilisateur">
                        {{ icon('star-empty') }} Promouvoir
                    </a>
                {% endif %}
            </li>
        {% endif %}
    {% else %}
        <li class="btn btn-primary">
            <a href="{{ path('core_structure_index') }}">
                {{ icon('euro') }} Adhérer
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <ul class="entities list-group">
        <li class="list-group-item">
            <span class="btn btn-primary pull-right">
                <a href="{{ path('user_person_edit_me') }}?{{ app.request.queryString }}" title="Modifier">
                    {{ icon('edit') }} Modifier
                </a>
            </span>
            <div class="title">État civil</div>
            <div class="">{{ person.title }} {{ person.surname }} {{ person.name }}</div>
            <div class="">Naissance : {{ person.birthday|date('d/m/Y') }} à {{ person.birthplace }}</div>
        </li>
        <li class="list-group-item">
            <span class="btn btn-primary pull-right">
                <a href="{{ path('fos_user_change_password') }}?{{ app.request.queryString }}" title="Modifier le mot de passe">
                    {{ icon('edit') }} Mot de passe
                </a>
            </span>
            <div class="title">Contact</div>
            <div class="">Téléphone : {{ person.phone }}</div>
            <div class="">Adresse : {% for item in person.address %} {{ item }} {% endfor %}</div>
            <div class="">E-mail : {{ person.user.email }}</div>
        </li>
    </ul>
    <ul class="entities list-group">
        {% for membership in memberships %}
            <li class="list-group-item row">
                <span class="btn-group pull-right">
                    <button class="btn btn-primary dropdown-toogle" data-toggle="dropdown">Actions <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('user_register_infos', {'id': membership.id, 'userid': userid}) }}" title="Afficher les réponses aux questions complémentaires">
                                <span class="glyphicon glyphicon-question-sign"></span>
                                Questions complémentaires
                            </a>
                        </li>
                        {% if membership.status == 'registered' or membership.payedOn is null %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="{{ path('user_register_validate', {'id': membership.id, 'userid': userid}) }}" title="Valider la réception du paiement pour cette adhésion">
                                        <span class="glyphicon glyphicon-ok-circle"></span>
                                        Valider
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{{ path('user_register_delete', {'id': membership.id, 'userid': userid}) }}" title="Supprimer cette adhésion">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                    Supprimer
                                </a>
                            </li>
                        {% elseif membership.status == 'paid' %}
                            <li>
                                <a href="{{ path('user_register_validate', {'id': membership.id, 'userid': membership.person.user.id, view: 'index'}) }}" title="Valider la réception de la fiche signée pour cette adhésion">
                                    {{ icon('ok') }} Valider la fiche
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </span>
                <div>
                    Adhésion à {{ membership.structure.name }} jusqu'au {{ membership.expiredOn|date('d/m/Y') }} payée ({{ membership.amount }} €) par {{ membership.method.label|lower }}
                    {% if membership.payedOn is not null %}
                        le {{ membership.payedOn|date('d/m/Y') }}.
                    {% else %}
                        ; la transaction n'a pas été validée.
                    {% endif %}
                </div>
            </li>
        {% else %}
            <li class="list-group-item">Aucune adhésion enregistrée.</li>
        {% endfor %}
    </ul>
{% endblock %}
