{% extends 'PigassUserBundle::layout.html.twig' %}

{% block headline %}
    {% if userid is not null %}
        Adhésions ({{ person }})
    {% else %}
        Mes adhésions
    {% endif %}
{% endblock %}

{% block action %}
    {% if slug is not null %}
        <li class="btn btn-primary">
            <a href="{{ path('user_register_join', {'slug': slug}) }}?{{ app.request.queryString }}">
                {{ icon('euro') }} Ré-adhérer
            </a>
        </li>
        <li class="btn btn-primary">
            <a href="{{ path('core_structure_index') }}">
                {{ icon('euro') }} Autre structure
            </a>
        </li>
    {% else %}
        <li class="btn btn-primary">
            <a href="{{ path('core_structure_index') }}">
                {{ icon('euro') }} Adhérer
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <ul class="entities list-group">
        {% for membership in memberships %}
            <li class="list-group-item">
                <span class="btn-group pull-right">
                    <button class="btn btn-primary dropdown-toogle" data-toggle="dropdown">Actions <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('user_register_infos', {'id': membership.id, 'userid': userid}) }}" title="Afficher les réponses aux questions complémentaires">
                                <span class="glyphicon glyphicon-question-sign"></span>
                                Questions complémentaires
                            </a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') and membership.payedOn is null %}
                            <li>
                                <a href="{{ path('user_register_validate', {'id': membership.id, 'userid': userid}) }}" title="Valider la réception du paiement pour cette adhésion">
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                    Valider
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('user_register_delete', {'id': membership.id, 'userid': userid}) }}" title="Supprimer cette adhésion">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                    Supprimer
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </span>
                <div>
                    Adhésion jusqu'au {{ membership.expiredOn|date('d/m/Y') }} payée ({{ membership.amount }} €) par {{ membership.method.description|lower }}
                    {% if membership.payedOn is not null %}
                        le {{ membership.payedOn|date('d/m/Y') }}.
                    {% else %}
                        ; la transaction n'a pas été validée.
                    {% endif %}
                </div>
            </li>
        {% else %}
            <li class="list-group-item">Aucune adhésion enregistrée.</li>
        {% endfor %}
    </ul>
{% endblock %}
