{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Adresses mails ({{ structure }}){% endblock %}
{% block headline %}{{ structure }} : adresses mails{% endblock %}

{% block action %}
    <div class="btn btn-primary">
        <a href="{{ path('user_register_index', {'slug': structure.slug}) }}">
            <i class='fas fa-arrow-left'></i> Retour
        </a>
    </div>
    <div class="btn btn-light btn-sm">
        Séparateur :
        <select id="separator" class="">
            <option value=", " selected>,</option>
            <option value=" ; ">;</option>
            <option value="retour">À la ligne</option>
        </select>
    </div>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <textarea id="showlist" class="export">{{ mails }}</textarea>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/pigassuser/js/switchSeparator.js') }}" type="text/javascript"></script>
{% endblock %}
