{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Étudiants ({{ persons_count }}){% endblock %}

{% block headline %}
    Étudiants ({{ persons_count }})
{% endblock %}

{% block action %}
    {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-primary" href="{{ path('user_person_new') }}?{{ app.request.queryString }}" title="Ajouter un nouvel étudiant">
                <i class="fas fa-plus"></i> Ajouter
            </a>
            <a class="btn btn-primary" href="{{ path('user_person_import') }}" title="Importer une promotion d'internes">
                <i class='fas fa-folder-open'></i> Importer
            </a>
            <a class="btn btn-primary" href="{{ path('user_register_index', {'slug': structure.slug}) }}">
                <i class='fas fa-euro-sign'></i> Adhérents
            </a>
    {% endif %}
    <div class="btn">
      <form>
          <i class='fas fa-search'></i>
          <input type="text" id="search" name="search" value="{{ search }}" />
      </form>
    </div>
{% endblock %}

{% block content %}
    <ul class="entities list-group">
        {% for person in persons %}
            <li class="entity person list-group-item">
                <span class="float-right">
                    <a class="btn btn-primary" href="{{ path('app_dashboard_user', {'slug': structure.slug, 'userid': person.user.id}) }}?{{ app.request.queryString }}#person_{{ person.id }}" title="Afficher le tableau de bord de l'étudiant '{{ person }}'">
                        <i class='fas fa-eye'></i> Voir
                    </a>
                </span>
                <div class="d-flex justify-content-between align-items-center">
                    {% if members is not null and person.id in members %}
                        <i class='fas fa-user-check'></i>
                    {% endif %}
                    <span>{{ person.surname }} {{ person.name }}</span>
                    <span class="entity_item person_grade">{{ person.grade }}</span>
                </div>
                {% if param('simul_' ~ structure.slug ~ '_active') == true %}
                    <div class="entity_item person_rank">Classement ECN : {{ person.ranking }} | Année ECN : {{ person.graduate }}</div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
