<!DOCTYPE html>

<html lang="{{ locale }}">

{% block head %}
<head>
    <meta charset="{{ _charset }}" />
    {% block head_style %}
        <link href="{{ asset('build/app.css') }}" type="text/css" rel="stylesheet" media="screen" />

    {% endblock head_style %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head_script %}
    {% endblock head_script %}

    <title>{% block title %}PIGASS : Projet d'Interface de Gestion des Adhérents de Structures Syndicales{% endblock title %}</title>
    {% block favicon %}<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />{% endblock %}

    {% block head_bottom %}
        <meta name="application-name" content="PIGASS" />
    {% endblock head_bottom %}
</head>
{% endblock head %}

<body>

{% block body_start %}
{% endblock body_start %}

{% block body %}
    {% block navbar %}
    <nav id="menu" class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
            {% block logo %}
            <a href="{{ path('core_structure_map') }}" class="navbar-brand mr-2">
                <img src="{{ asset('images/pigass_medium.png') }}" alt="logo PIGASS">
            </a>
            {% endblock logo %}
            <p class="navbar-text m-0 mr-auto ml-auto">{% block headline %}Adhésions{% endblock headline %}</p>
            <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbar-collapsable" aria-controls="navbar-collapsable" aria-expanded="false" aria-label="Afficher le menu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse ml-2 flex-grow-0" id="navbar-collapsable">
            <ul class="nav navbar-nav align-items-center ml-auto">
                {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="nav-item p-0">
                        <a class="btn btn-dark btn-block" href="{{ path('fos_user_resetting_request') }}" title="Réinitialiser le mot de passe">
                            <i class="fas fa-question"></i> Mot de passe oublié
                        </a>
                    </li>
                    <li class="nav-item p-0">
                        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-inline align-items-center">
                            <input type="text" id="username" name="_username" required="required" class="col-sm-5 form-control-sm" placeholder="Adresse e-mail"/>
                            <input type="password" id="password" name="_password" required="required" class="col-sm-5 form-control-sm" placeholder="Mot de passe"/>
                            <button type="submit" class="col-sm-auto btn btn-dark btn-sm"><span class="fas fa-sign-in-alt"/></button>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                            <input type="hidden" id="remember_me" name="_remember_me" value="on"/>
                        </form>
                    </li>
                {% else %}
                    {% if is_granted('ROLE_MEMBER') %}
                        <li class="nav-item p-0">
                            <a class="btn btn-dark btn-block" href="{{ path('user_register_list') }}" title="Mon tableau de bord">
                                <i class="fas fa-id-card"></i> {{ app.user.username }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_STRUCTURE') %}
                        <li class="nav-item p-0">
                            <a class="btn btn-dark btn-block" href="{{ path('app_dashboard_admin', {'slug': app.session.get('slug')}) }}" title="Tableau de bord de la structure">
                                <i class="fas fa-star"></i> {{ app.session.get('slug')|capitalize }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item p-0">
                            <a class="btn btn-dark btn-block" href="{{ path('app_dashboard_superadmin') }}" title="Administration du site">
                                <i class="fas fa-jedi"></i> Administration
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item p-0">
                        <a class="btn btn-dark btn-block" href="{{ path('fos_user_security_logout') }}" title="Se déconnecter">
                            <i class="fas fa-sign-out-alt"></i> Se déconnecter
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endblock navbar %}

    {% block container %}
    <div class="{% block container_class %}container{% endblock container_class %} mt-3">
        {% block header %}
        {% endblock header %}

        <div class="content row">

            <aside id="submenu" class="col-sm-4">

                <div class="btn-group-vertical w-100">
                    {% block action %}{% endblock action %}
                </div>

            </aside>

            <section id="content" class="col-sm-8 col-xs-12">

                {% block flashes %}
                    {% for type, messages in app.flashes %}
                        {% for message in messages %}
                            {% if type == 'notice' %}
                                {% set label = 'alert-info' %}
                            {% elseif type == 'error' %}
                                {% set label = 'alert-danger' %}
                            {% else %}
                                {% set label = 'alert-' ~ type %}
                            {% endif %}
                            <div class="w-100 alert {{ label }} alert-dismissible fade show" role="alert">
                                {{ message | raw }}
                                <a class="close" data-dismiss="alert" aria-hidden= "true" href="#">&times;</a>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endblock flashes %}

                <div class="content">
                    {% block content %}{% endblock content %}
                </div>

            </section>

        </div>

        <footer id="footer" class="row justify-content-between mt-3">

            {% block footer %}
            <a class="col-4 align-self-center" href="https://github.com/CaraGk/pigass/issues">Reporter un bug ou un souhait</a>
            <div class="col-4 align-self-center miniature">
                <a href="https://github.com/CaraGk/pigass"><img src="{{ asset('images/pigass_small.png') }}" alt="pigass" /></a>
                powered by
                <a href="http://symfony.com/"><img src="{{ asset('images/symfony_logo.png') }}" alt="symfony" /></a>
            </div>
            {% endblock footer %}

        </footer>

    </div><!-- /container -->
    {% endblock container %}

    {% block foot_script %}
        <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}
        {% endblock javascripts %}
    {% endblock foot_script %}

{% endblock body %}

</body>

</html>
