{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ structure.name }} - Tarifs
{% endblock %}

{% block headline %}
    {{ structure.name }} - Tarifs
{% endblock %}

{% block action %}
<a class="btn btn-primary" href="{{ path('core_fee_new', {'slug': structure.slug}) }}" title="Ajouter une nouvelle tarification">
    <i class='fas fa-plus'></i> Ajouter
</a>
{{ mopa_bootstrap_menu('parameter') }}
{% endblock %}

{% block content %}
{% for fee in fees %}
    <div class="card mb-2">
        <div class="card-header bg-primary text-white">
            <i class="fas fa-euro-sign"></i>
            {{ fee.title }} : {{ fee.amount(1) }}
            {% if fee.isDefault == true %}
                <span class="badge badge-warning ml-3">par défaut</span>
            {% endif %}
        </div>
        <div class="card-body">
            <p class="card-text">{{ fee.help }}</p>
        </div>
        <div class="card-footer text-center">
            <a class="edit btn btn-primary btn-sm" href="{{ path('core_fee_edit', {'slug': structure.slug, 'id': fee.id}) }}" title="Modifier la tarification '{{ fee }}'">
                <i class='fas fa-pencil-alt'></i> Modifier
            </a>
            <a class="confirm delete btn btn-primary btn-sm" href="{{ path('core_fee_delete', {'slug': structure.slug, 'id': fee.id}) }}" title="Supprimer la tarification '{{ fee }}'" confirm="Attention, vous allez supprimer la tarification et toutes les informations s'y rapportant ! Voulez-vous continuer ?">
                <i class='fas fa-trash'></i> Supprimer
            </a>
        </div>
    </div>
{% else %}
    <div class="card">
        <div class="card-header">
                Aucune tarification enregistrée. <a href="{{ path('core_fee_new', {'slug': structure.slug}) }}" title="Ajouter une tarification">Ajouter une tarification</a>.
        </div>
    </div>
{% endfor %}
{% endblock %}
