{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - {{ structure.name }} - Paramètres{% endblock %}

{% block headline %}{{ structure.name }} - Paramètres{% endblock %}

{% block action %}
{{ mopa_bootstrap_menu('parameter') }}
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        {{ form(parameter_form) }}
    </div>
</div>
{% endblock %}
