{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - {{ structure.name }} - {{ structure.name }} - Administration{% endblock %}

{% block headline %}{{ structure.name }} - Administration{% endblock %}

{% block action %}
{% include '/dashboard/admin_menu.html.twig' with {'slug': structure.slug} %}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header bg-primary text-white text-center">Adhésions</div>
        <div class="card-body">
            <p class="card-text">
                <div class="btn btn-light">Adhésions validées <span class="badge badge-danger">{{ modules.adhesion.count_validated.total }}</span></div>
                <div class="btn btn-light">Non validées <span class="badge badge-danger">{{ modules.adhesion.count_unvalidated.total }}</span></div>
                <div class="btn btn-light">Non comptabilisées <span class="badge badge-danger">{{ modules.adhesion.count_uncounted.total }}</span></div>
            </p>
            <p class="card-text">
                {% for fee_name, fee_count in modules.adhesion.count_validated.fees %}
                    <div class="btn btn-light">{{ fee_name }} <span class="badge badge-secondary">{{ fee_count }}</span></div>
                {% endfor %}
            </p>
            <p class="card-text">
                {% for gateway_name, gateway_count in modules.adhesion.count_validated.gateways %}
                    <div class="btn btn-light">{{ gateway_name }} <span class="badge badge-secondary">{{ gateway_count }}</span></div>
                {% endfor %}
            </p>
        </div>
        <div class="card-footer text-center">
            <div class="btn-group">
                <a class="card-link btn btn-primary btn-sm" href="{{ path('app_dashboard_admin', {'slug': structure.slug}) }}?date={{ modules.adhesion.date.previous }}" title="Voir la liste des adhérents">
                    <i class="fas fa-caret-left"></i> &nbsp;
                </a>
                <a class="card-link btn btn-primary btn-sm" href="{{ path('user_register_index', {'slug': structure.slug}) }}?{{ app.request.queryString }}" title="Voir la liste des adhérents">
                    <i class="fas fa-users"></i> Adhérents
                </a>
                <a class="card-link btn btn-primary btn-sm" href="{{ path('app_dashboard_admin', {'slug': structure.slug}) }}?date={{ modules.adhesion.date.next }}" title="Voir la liste des adhérents">
                    &nbsp; <i class="fas fa-caret-right"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header bg-primary text-white text-center">Stages</div>
        <div class="card-body">
            <p class="card-text">
            <a class="btn btn-primary" href="{{ path('user_person_index', {'slug': structure.slug}) }}" title="Afficher les étudiants">
                    {{ modules.stage.count }} étudiants
                </a>
            </p>
            <p>
                {{ modules.stage.sectors|length }} promotions : {% for sector in modules.stage.sectors %}{% if not loop.first %}, {% endif %}{{ sector }}{% endfor %}
            </p>
{% endblock %}
