{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - {{ structure.name }} - {{ structure.name }} - Administration{% endblock %}

{% block headline %}{{ structure.name }} - Administration{% endblock %}

{% block action %}
{% include '/dashboard/admin_menu.html.twig' with {'slug': structure.slug} %}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header bg-primary text-white text-center">Adminstrateurs de {{ structure.name }}</div>
        <div class="card-body">
            {% for admin in modules.users.structure %}
            <a class="card-link" href="{{ path('app_dashboard_user', {'slug': structure.slug, 'userid': admin.user.id}) }}">{{ admin }}</a>
            {% endfor %}
        </div>
    </div>
    {% if param('reg_' ~ structure.slug ~ '_active') %}
    <div class="card mt-3">
        <div class="card-header bg-primary text-white text-center">Adhésions</div>
        <div class="card-body">
            <p class="card-text">
                <div class="btn btn-light">Adhésions validées <span class="badge badge-danger">{{ modules.adhesion.count_validated.total }}</span></div>
                <div class="btn btn-light">Non validées <span class="badge badge-danger">{{ modules.adhesion.count_unvalidated.total }}</span></div>
                <div class="btn btn-light">Non comptabilisées <span class="badge badge-danger">{{ modules.adhesion.count_uncounted.total }}</span></div>
            </p>
            <p class="card-text">
                {% for fee_name, fee_count in modules.adhesion.count_validated.fees %}
                    <div class="btn btn-light">{{ fee_name }} <span class="badge badge-secondary">{{ fee_count }}</span></div>
                {% endfor %}
            </p>
            <p class="card-text">
                {% for gateway_name, gateway_count in modules.adhesion.count_validated.gateways %}
                    <div class="btn btn-light">{{ gateway_name }} <span class="badge badge-secondary">{{ gateway_count }}</span></div>
                {% endfor %}
            </p>
        </div>
        <div class="card-footer text-center">
            <div class="btn-group">
                <a class="card-link btn btn-primary btn-sm" href="{{ path('app_dashboard_admin', {'slug': structure.slug}) }}?date={{ modules.adhesion.date.previous }}" title="Voir la liste des adhérents">
                    <i class="fas fa-caret-left"></i> &nbsp;
                </a>
                <a class="card-link btn btn-primary btn-sm" href="{{ path('user_register_index', {'slug': structure.slug}) }}?{{ app.request.queryString }}" title="Voir la liste des adhérents">
                    <i class="fas fa-users"></i> Adhérents
                </a>
                <a class="card-link btn btn-primary btn-sm" href="{{ path('app_dashboard_admin', {'slug': structure.slug}) }}?date={{ modules.adhesion.date.next }}" title="Voir la liste des adhérents">
                    &nbsp; <i class="fas fa-caret-right"></i>
                </a>
            </div>
        </div>
    </div>
    {% endif %}

    {% if param('placement_' ~ structure.slug ~ '_active') %}
    <div class="card mt-3">
        <div class="card-header bg-primary text-white text-center">Stages</div>
        <div class="card-body">
            <p class="card-text">
                <a class="btn btn-primary" href="{{ path('user_person_index', {'slug': structure.slug}) }}" title="Afficher les étudiants">
                    {{ modules.stage.count }} étudiants
                </a>
                répartis dans
                <a class="btn btn-primary" href="{{ path('GUser_GAIndex', {slug: structure.slug}) }}" title="Afficher les promotions">
                    {{ modules.stage.grades|length }} promotions
                </a>
            </p>
            <p class="card-text">
                {{ modules.stage.sectors|length }} catégories de stage : {% for sector in modules.stage.sectors %}{% if not loop.first %}, {% endif %}<span class="badge badge-info">{{ sector }}</span>{% endfor %}
            </p>
            <p class="card-text">
                <table class="col">
                    <thead>
                        <tr>
                            <th>
                                {{ modules.stage.periods|length }} périodes de stage
                            </th>
                            <th class="text-center">
                                Terrains ouverts
                            </th>
                            <th class="text-center">
                                Postes
                            </th>
                            <th class="text-center">
                                Non pourvus
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for period in modules.stage.periods %}
                        <tr>
                            <td>
                                <a class="btn btn-light btn-sm" href="{{ path('GCore_PAPeriodEdit', {'slug': structure.slug, 'id': period.id}) }}" title="Modifier la période de stage « {{ period }} »">
                                    {{ period }}
                                </a>
                            </td>
                            <td class="text-center">
                                <span class="badge badge-secondary">{{ modules.stage.opened[period.id] }}</span>
                            </td>
                            <td class="text-center">
                                <a class="badge badge-secondary" href="{{ path('GCore_PARepartitionsPeriod', {'slug': structure.slug, 'id': period.id}) }}" title="Modifier les répartitions de la période « {{ period }} »">
                                    {{ modules.stage.placements[period.id] }}
                                </a>
                            </td>
                            <td class="text-center">
                                <span class="badge badge-secondary">{{ modules.stage.none[period.id] }}</span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </p>
            <p class="card-text">
            <a class="btn btn-primary" href={{ path('GCore_FSIndex', {'slug': structure.slug}) }} title="Afficher les terrains de stage">
                {{ modules.stage.departments }} terrains de stage
            </a>
            dans {{ modules.stage.hospitals }} établissements.
            </p>
        </div>
        <div class="card-footer text-center">
            <a class="card-link btn btn-primary btn-sm" href="{{ path('app_placement_period', {'slug': structure.slug}) }}" title="Ajouter une période de stage">
                <i class="fas fa-plus"></i> Nouvelle période
            </a>
        </div>
    </div>
    {% endif %}

    {% if param('eval_' ~ structure.slug ~ '_active') %}
    <div class="card mt-3">
        <div class="card-header bg-primary text-white text-center">Évaluations</div>
        <div class="card-body">
            <p class="card-text">{{ modules.evaluation.total }} évaluations</p>
            <p class="card-text">Formulaires :
                {% for form in modules.evaluation.forms %}
                <a class="btn btn-outline-info btn-sm" href="{{ path('GEval_AEdit', {'slug': structure.slug, 'id': form.id}) }}" title="Modifier le formulaire d'évaluation « {{ form }} »">
                        {{ form }}
                    </a>
                {% else %}
                    Aucun formulaire enregisitré.
                {% endfor %}
            </p>
            <p class="card-text">Évaluations à modérer :
                <a class="btn btn-primary btn-sm" href="{{ path('GEval_ATextIndex', {'slug': structure.slug}) }}" title="Afficher les évaluations à modérer">
                    {{ modules.evaluation.toModerate }}
                </a>
        </div>
        <div class="card-footer text-center">
        </div>
    </div>
    {% endif %}

    {% if param('simul_' ~ structure.slug ~ '_active') %}
    <div class="card mt-3">
        <div class="card-header bg-primary text-white text-center">Simulations</div>
        <div class="card-body">
            {% for rule in modules.simulation.rules %}
                <p class="card-text">{{ rule }}</p>
            {% else %}
                <p class="card-text">Aucune règle fixée</p>
            {% endfor %}
        </div>
        <div class="card-footer text-center">
            {% if modules.simulation.count > 0 %}
                <a class="btn btn-primary btn-sm" href="{{ path('GSimul_SSim', {'slug': structure.slug}) }}" title="Lancer l'algorithme de simulation">
                    <i class="fas fa-refresh"></i> Actualiser
                </a>
                <a class="btn btn-primary btn-sm" href="{{ path('GSimul_SAList', {'slug': structure.slug}) }}" title="Afficher la table de simulation">
                    Simulations
                </a>
                <a class="btn btn-primary btn-sm" href="{{ path('GSimul_SASave', {'slug': structure.slug}) }}" title="Valider les simulation et les enregistrer dans les stages." class="confirm" confirm="Attention ! Valider les données va enregistrer les stages correspondants et supprimer la simulation actuelle. Souhaitez-vous continuer ?">
                    <i class="fas fa-ok-circle"></i> Valider
                </a>
                <a class="btn btn-primary btn-sm" href="{{ path('GSimul_SAPurge', {'slug': structure.slug}) }}" title="Supprimer la table de simulation" class="confirm" confirm="Attention ! Cette opération va supprimer toutes les données concernant la simulation en cours. Souhaitez-vous continuer ?">
                    <i class="fas fa-trash"></i> Supprimer
                </a>
                <a class="btn btn-primary btn-sm" href="{{ path('GSimul_SALiveRepart', {'slug': structure.slug}) }}" title="Passer en mode de répartition en présentiel">
                    <i class="fas fa-time"></i> Répartir
                </a>
                <a class="btn btn-primary btn-sm" href="{{ path('GSimul_SALiveLeft', {'slug': structure.slug}) }}" title="Afficher les postes restants en présentiel">
                    <i class="fas fa-eye-open"></i> Postes restants
                </a>
            {% else %}
                <a class="btn btn-primary btn-sm" href="{{ path('GSimul_SADefine', {'slug': structure.slug}) }}" title="Générer la table de simulation">
                    <i class="fas fa-off"></i> Générer la table
                </a>
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock %}
