{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Administration{% endblock %}

{% block headline %}Administration{% endblock %}

{% block action %}
    <a class="btn btn-primary" href="{{ path('user_register_question_index', {'slug': 'all'}) }}" title="Gérer les questions complémentaires">
        <i class="fas fa-question-circle"></i> Questions complémentaires
    </a>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header bg-primary text-white text-center">Adhésions</div>
        <div class="card-body">
            <p class="card-text">Nombre total d'adhésions validées : {{ modules.adhesion.count_validated.total }}</p>
            <ul>
            {% for structure_name, structure_count in modules.adhesion.count_validated.structures %}
                <li class="card-text">{{ structure_name }}&nbsp;: {{ structure_count }} adhésions validées et {{ modules.adhesion.count_unvalidated.structures[structure_name] }} non validées</li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}
