{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Administration{% endblock %}

{% block headline %}Administration{% endblock %}

{% block action %}
    <a class="btn btn-primary" href="{{ path('user_register_question_index', {'slug': 'all'}) }}" title="Gérer les questions complémentaires">
        <i class="fas fa-question-circle"></i> Questions complémentaires
    </a>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header bg-primary text-white text-center">Adhésions</div>
        <div class="card-body">
            <p class="card-text">
                Nombre total d'adhésions validées : <span class="badge badge-danger">{{ modules.adhesion.count_validated.total }} / {{ modules.adhesion.count_unvalidated.total }}</span>
            </p>
            <p class="card-text">
            {% for structure_name, structure_count in modules.adhesion.count_validated.structures %}
                <a class="btn btn-light" href="{{ path('app_dashboard_admin', {'slug': structure_name}) }}">
                    {{ structure_name }} <span class="badge badge-secondary">{{ structure_count }} / {{ modules.adhesion.count_unvalidated.structures[structure_name] }}</span>
                </a>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}
