{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Administration{% endblock %}

{% block headline %}Administration{% endblock %}

{% block action %}
    <a class="btn btn-primary" href="{{ path('user_register_question_index', {'slug': 'all'}) }}" title="Gérer les questions complémentaires">
        <i class="fas fa-question-circle"></i> Questions complémentaires
    </a>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header bg-primary text-white text-center">Adhésions</div>
        <div class="card-body">
            <table class="col">
                <thead>
                    <tr>
                        <th>
                            Structure
                        </th>
                        <th class="text-center">
                            Validées
                        </th>
                        <th class="text-center">
                            Non validées
                        </th>
                        <th class="text-center">
                            Non comptabilisées
                        </th>
                    </tr>
                </thead>
                <tbody>
            {% for structure_name, structure_count in modules.adhesion.count_validated.structures %}
                <tr>
                    <td>
                        <a class="btn btn-light" href="{{ path('app_dashboard_admin', {'slug': structure_name}) }}">
                            {{ structure_name }}
                        </a>
                    </td>
                    <td class="text-center">
                        <span class="badge badge-secondary">{{ structure_count }}</span>
                    </td>
                    <td class="text-center">
                        <span class="badge badge-secondary">{{ modules.adhesion.count_unvalidated.structures[structure_name] }}</span>
                    </td>
                    <td class="text-center">
                        <span class="badge badge-secondary">{{ modules.adhesion.count_uncounted.structures[structure_name] }}</span>
                    </td>
                </tr>
            {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th class="text-danger">
                        Totaux
                    </th>
                    <th class="text-center">
                        <span class="badge badge-danger">{{ modules.adhesion.count_validated.total }}</span>
                    </th>
                    <th class="text-center">
                        <span class="badge badge-danger">{{ modules.adhesion.count_unvalidated.total }}</span>
                    </th>
                    <th class="text-center">
                        <span class="badge badge-danger">{{ modules.adhesion.count_uncounted.total }}</span>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header bg-primary text-white text-center">Adminstrateurs</div>
        <ul class="list-group list-goup-flush">
            <li class="list-group-item"><i class="fas fa-jedi"> </i>Superadmins : {% for admin in modules.users.superadmins %}<a class="card-link" href="{{ path('app_dashboard_user', {'slug': admin.structure.slug, 'userid': admin.user.id}) }}">{{ admin }}</a>{% endfor %}</li>
            {% for structure_name, structure_admins in modules.users.structures %}
            <li class="list-group-item"><i class="fas fa-star"> </i>{{ structure_name }} : {% for admin in structure_admins %}<a class="card-link" href="{{ path('app_dashboard_user', {'slug': structure_name, 'userid': admin.user.id}) }}">{{ admin }}</a>{% endfor %}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}
