{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ structure.name }} - Moyens de paiement
{% endblock %}

{% block headline %}
    {{ structure.name }} - Moyens de paiement
{% endblock %}

{% block action %}
<a class="btn btn-primary" href="{{ path('user_payment_new', {'slug': structure.slug}) }}" title="Ajouter un nouveau moyen de paiement">
    <i class='fas fa-plus'></i> Ajouter un moyen de paiement
</a>
{% include '/dashboard/admin_menu.html.twig' with {'slug': structure.slug} %}
{% endblock %}

{% block content %}
{% for gateway in gateways %}
    <div class="card mb-2">
        <div class="card-header {% if gateway.active %}bg-primary text-white{% else %}bg-light text-muted font-italic{% endif %}">
            <i class="fas fa-credit-card"></i>
            {{ gateway.label }}
            {% if not gateway.active %} (inactive){% endif %}
        </div>
        <div class="card-body">
            <p class="card-text">Nom machine : {{ gateway.gatewayName }}</p>
            <p class="card-text">Type : {{ gateway.factoryName }}</p>
        </div>
        <div class="card-footer text-center">
            <a class="edit btn btn-primary btn-sm" href="{{ path('user_payment_edit', {'id': gateway.id, 'slug': structure.slug}) }}" title="Modifier le moyen de paiement '{{ gateway.gatewayName }}'">
                <i class='fas fa-pencil-alt'></i> Modifier
            </a>
            <a class="confirm delete btn btn-primary btn-sm" href="{{ path('user_payment_delete', {'id': gateway.id, 'slug': structure.slug}) }}" title="Supprimer le moyen de paiement '{{ gateway.gatewayName }}'" confirm="Attention, vous allez supprimer la gateway et toutes les informations s'y rapportant ! Voulez-vous continuer ?">
                <i class='fas fa-trash'></i> Supprimer
            </a>
        </div>
    </div>
{% else %}
    <div class="card">
        <div class="card-header">
            Aucun moyen de paiement enregistré enregistrée.
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('user_payment_new', {'slug': structure.slug}) }}" title="Ajouter un moyen de paiement">Ajouter un moyen de paiement</a>.
            {% else %}
                Contactez un administrateur.
            {% endif %}
        </div>
    </div>
{% endfor %}
{% endblock %}
